EXCLUDED_SOURCE_FILE_NAMES[sdk=iphonesimulator*] = * ***.a
INCLUDED_SOURCE_FILE_NAMES[sdk=iphonesimulator*] = PVDebug.c
EXCLUDED_SOURCE_FILE_NAMES[sdk=appletvsimulator*][arch=*] = * ***.a
INCLUDED_SOURCE_FILE_NAMES[sdk=appletvsimulator*][arch=*] = PVDebug.c
//EXCLUDED_SOURCE_FILE_NAMES[sdk=appletvos*][arch=*] = * ***.a
//INCLUDED_SOURCE_FILE_NAMES[sdk=appletvos*][arch=*] = PVDebug.c

//BUILD_DIR = $(SRCROOT)/lib

OBJROOT = $(SRCROOT)/lib/azahar
SYMROOT = $(SRCROOT)/lib/azahar
PROJECT_TEMP_DIR = $(SRCROOT)/lib/azahar/build/$(PROJECT_NAME).build
