<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>PVCoreIdentifier</key>
	<string>com.provenance.core.duckstation</string>
	<key>PVPrincipleClass</key>
	<string>PVDuckStationCore</string>
	<key>PVSupportedSystems</key>
	<array>
		<string>com.provenance.psx</string>
	</array>
	<key>PVProjectName</key>
	<string>DuckStation</string>
	<key>PVProjectURL</key>
	<string>https://github.com/stenzek/duckstation/</string>
	<key>PVProjectVersion</key>
	<string>2023.01.11</string>
	<key>PVDisabled</key>
	<true/>
</dict>
</plist>
