<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleExecutable</key>
	<string>${EXECUTABLE_NAME}</string>
	<key>CFBundleIconFile</key>
	<string>Mednafen</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>${PRODUCT_NAME}</string>
	<key>CFBundlePackageType</key>
	<string>BNDL</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>0.9.38.7.1</string>
	<key>NSPrincipalClass</key>
	<string>OEGameCoreController</string>
	<key>OEGameCoreClass</key>
	<string>MednafenGameCore</string>
	<key>OEGameCoreOptions</key>
	<dict>
		<key>openemu.system.lynx</key>
		<dict>
			<key>OEGameCoreRequiresFiles</key>
			<true/>
			<key>OEGameCoreRewindBufferSeconds</key>
			<integer>60</integer>
			<key>OEGameCoreRewindInterval</key>
			<integer>0</integer>
			<key>OEGameCoreSupportsRewinding</key>
			<true/>
			<key>OERequiredFiles</key>
			<array>
				<dict>
					<key>Description</key>
					<string>Lynx boot ROM</string>
					<key>MD5</key>
					<string>fcd403db69f54290b51035d82f835e7b</string>
					<key>Name</key>
					<string>lynxboot.img</string>
					<key>Size</key>
					<integer>512</integer>
				</dict>
			</array>
		</dict>
		<key>openemu.system.pce</key>
		<dict>
			<key>OEGameCoreRewindBufferSeconds</key>
			<integer>60</integer>
			<key>OEGameCoreRewindInterval</key>
			<integer>0</integer>
			<key>OEGameCoreSupportsRewinding</key>
			<true/>
		</dict>
		<key>openemu.system.pcecd</key>
		<dict>
			<key>OEGameCoreRequiresFiles</key>
			<true/>
			<key>OEGameCoreRewindBufferSeconds</key>
			<integer>60</integer>
			<key>OEGameCoreRewindInterval</key>
			<integer>0</integer>
			<key>OEGameCoreSupportsRewinding</key>
			<true/>
			<key>OERequiredFiles</key>
			<array>
				<dict>
					<key>Description</key>
					<string>TurboGrafx-CD/PC Engine CD BIOS</string>
					<key>MD5</key>
					<string>ff1a674273fe3540ccef576376407d1d</string>
					<key>Name</key>
					<string>syscard3.pce</string>
					<key>Size</key>
					<string>262656</string>
				</dict>
			</array>
		</dict>
		<key>openemu.system.pcfx</key>
		<dict>
			<key>OEGameCoreRequiresFiles</key>
			<true/>
			<key>OERequiredFiles</key>
			<array>
				<dict>
					<key>Description</key>
					<string>PC-FX BIOS</string>
					<key>MD5</key>
					<string>08e36edbea28a017f79f8d4f7ff9b6d7</string>
					<key>Name</key>
					<string>pcfx.rom</string>
					<key>Size</key>
					<integer>1048576</integer>
				</dict>
			</array>
		</dict>
		<key>openemu.system.psx</key>
		<dict>
			<key>OEGameCoreRequiresFiles</key>
			<true/>
			<key>OEGameCoreSupportsMultipleDiscs</key>
			<true/>
			<key>OERequiredFiles</key>
			<array>
				<dict>
					<key>Description</key>
					<string>PlayStation (JP) SCPH-5500 BIOS</string>
					<key>MD5</key>
					<string>8dd7d5296a650fac7319bce665a6a53c</string>
					<key>Name</key>
					<string>scph5500.bin</string>
					<key>Size</key>
					<integer>524288</integer>
				</dict>
				<dict>
					<key>Description</key>
					<string>PlayStation (NA) SCPH-5501 BIOS</string>
					<key>MD5</key>
					<string>490f666e1afb15b7362b406ed1cea246</string>
					<key>Name</key>
					<string>scph5501.bin</string>
					<key>Size</key>
					<integer>524288</integer>
				</dict>
				<dict>
					<key>Description</key>
					<string>PlayStation (EU) SCPH-5502 BIOS</string>
					<key>MD5</key>
					<string>32736f17079d0b2b7024407c39bd3050</string>
					<key>Name</key>
					<string>scph5502.bin</string>
					<key>Size</key>
					<integer>524288</integer>
				</dict>
			</array>
		</dict>
		<key>openemu.system.vb</key>
		<dict>
			<key>OEGameCoreRewindBufferSeconds</key>
			<integer>60</integer>
			<key>OEGameCoreRewindInterval</key>
			<integer>0</integer>
			<key>OEGameCoreSupportsRewinding</key>
			<true/>
		</dict>
		<key>openemu.system.ws</key>
		<dict>
			<key>OEGameCoreRewindBufferSeconds</key>
			<integer>60</integer>
			<key>OEGameCoreRewindInterval</key>
			<integer>0</integer>
			<key>OEGameCoreSupportsRewinding</key>
			<true/>
		</dict>
	</dict>
	<key>OEGameCorePlayerCount</key>
	<string>2</string>
	<key>OEProjectURL</key>
	<string>http://mednafen.sourceforge.net/</string>
	<key>OESystemIdentifiers</key>
	<array>
		<string>openemu.system.lynx</string>
		<string>openemu.system.pce</string>
		<string>openemu.system.pcecd</string>
		<string>openemu.system.pcfx</string>
		<string>openemu.system.psx</string>
		<string>openemu.system.vb</string>
		<string>openemu.system.ws</string>
	</array>
	<key>SUEnableAutomaticChecks</key>
	<string>1</string>
	<key>SUFeedURL</key>
	<string>https://raw.github.com/OpenEmu/OpenEmu-Update/master/mednafen_appcast.xml</string>
</dict>
</plist>
