[submodule "PVMupen64Plus/mupen64plus-video-gliden64"]
	path = PVMupen64Plus/Plugins/mupen64plus-video-gliden64
	url = https://github.com/Provenance-Emu/GLideN64.git
[submodule "PVMupen64Plus/Plugins/mupen64plus-core"]
	path = PVMupen64Plus/Plugins/mupen64plus-core
	url = https://github.com/Provenance-Emu/mupen64plus-core.git
[submodule "PVMupen64Plus/Plugins/mupen64plus-rsp-hle"]
	path = PVMupen64Plus/Plugins/mupen64plus-rsp-hle
	url = https://github.com/mupen64plus/mupen64plus-rsp-hle.git
[submodule "PVMupen64Plus/Plugins/mupen64plus-rsp-cxd4"]
	path = PVMupen64Plus/Plugins/mupen64plus-rsp-cxd4
	url = https://JoeMatt@github.com/Provenance-Emu/mupen64plus-rsp-cxd4.git
[submodule "PVMupen64Plus/Plugins/mupen64plus-video-rice"]
	path = PVMupen64Plus/Plugins/mupen64plus-video-rice
	url = https://github.com/Provenance-Emu/mupen64plus-video-rice.git
