PVLibrary/Carthage/Build/
/PVSupport/Carthage/Build
/PVGenesis/PVGenesis.xcodeproj/xcuserdata
/PVGBA/PVGBA.xcodeproj/xcuserdata
/PVGB/PVGB.xcodeproj/xcuserdata
/PVFCEU/PVFCEU.xcodeproj/xcuserdata
/Provenance.xcworkspace/xcuserdata
/Provenance.xcodeproj/xcuserdata
/Provenance.xcodeproj/project.xcworkspace/xcuserdata
xcuserdata
report.xml
/Carthage/Build
/build
/fastlane/keys
/Provenance/Version.h
/Provenance/Version.swift
/PVLibrary/Carthage/.Cartfile.resolved
/Carthage/.Cartfile.resolved
.Cartfile.tvOS.resolved
.Cartfile.iOS.resolved
/.version
/Carthage/.swift-version
/PVSupport/Carthage/.swift-version
/PVLibrary/Carthage/.swift-version
.version
*.back
/fastlane/devices.txt
/archive
.vscode
*.zip
/fastlane/test_output
/.folio
.DS_Store
.build
.swiftpm
/bin
.env
/packages-cache
/Cores/PPSSPP/cmake/lib/Debug/libCommon.a
/Cores/PPSSPP/cmake/lib/Debug/libCommon.a.jk9oTD
/Cores/PPSSPP/cmake/lib/Debug/libCore.a
/Cores/PPSSPP/cmake/lib/Debug/libCore.a.hwCxEX
/Cores/PPSSPP/cmake/lib/Debug/libglslang.a
/Cores/PPSSPP/cmake/lib/Debug/libMachineIndependent.a
/Cores/PPSSPP/cmake/lib/Debug/libnative.a
/Cores/PPSSPP/cmake/lib/Debug/libSPIRV.a
Cores/PPSSPP/cmake/lib/
/CodeSigning.xcconfig
*.xcarchive
Cores/Dolphin/cmake/**/*-iphoneos
Cores/Play/cmake/build/
Cores/Play/cmake/**/Release-*
Cores/Play/cmake/**/Debug-*
Cores/Play/cmake/**/*.build
/Cores/PPSSPP/cmake/assets/debugger
/Cores/PPSSPP/lib/Release-iphoneos
/Cores/PPSSPP/lib/Debug-iphoneos
/Cores/Play/lib
/Cores/PPSSPP/lib/libMoltenVK_PPSSPP.dylib
/Cores/DuckStation/cmake/bin
/Cores/DuckStation/cmake/.qt
/Cores/DuckStation/lib/Debug-iphoneos/libscmversion.a
/Cores/DuckStation/lib/Debug-iphoneos/libfrontend-common.a
Cores/snes9x/cmake/build/
Cores/DuckStation/cmake/build/
Cores/DuckStation/cmake/bin/
Cores/DuckStation/cmake/src/
/Cores/Citra/cmake/dist
/Cores/Citra/cmake/externals
/Cores/Citra/cmake/generated-includes
/Cores/Citra/cmake/include
/Cores/Citra/cmake/CMakeFiles
Cores/DuckStation/cmake/CMakeFiles/
/Cores/DuckStation/cmake/CMakeScripts
Cores/DuckStation/cmake/dep/
Release-iphoneos
Cores/DuckStation/lib/
/Cores/Yabause/cmake/build
/Cores/Yabause/cmake/CMakeFiles
/Cores/Yabause/cmake/CMakeScripts
/Cores/Yabause/cmake/doc
/Cores/Yabause/cmake/l10n
/Cores/Yabause/cmake/src
