PVLibrary/Carthage/Build/
/PVSupport/Carthage/Build
/PVGenesis/PVGenesis.xcodeproj/xcuserdata
/PVGBA/PVGBA.xcodeproj/xcuserdata
/PVGB/PVGB.xcodeproj/xcuserdata
/PVFCEU/PVFCEU.xcodeproj/xcuserdata
/Provenance.xcworkspace/xcuserdata
/Provenance.xcodeproj/xcuserdata
/Provenance.xcodeproj/project.xcworkspace/xcuserdata
xcuserdata
report.xml
/Carthage/Build
/build
/fastlane/keys
/Provenance/Version.h
/Provenance/Version.swift
/PVLibrary/Carthage/.Cartfile.resolved
/Carthage/.Cartfile.resolved
.Cartfile.tvOS.resolved
.Cartfile.iOS.resolved
/.version
/Carthage/.swift-version
/PVSupport/Carthage/.swift-version
/PVLibrary/Carthage/.swift-version
.version
*.back
/fastlane/devices.txt
/archive
.vscode
*.zip
/fastlane/test_output
/.folio
.DS_Store
.build
.swiftpm
/bin
.env
