[submodule "PVMupen64Plus/mupen64plus-video-gliden64"]
	path = Cores/Mupen64Plus/Plugins/Video/gliden64
	url = https://github.com/Provenance-Emu/GLideN64.git
[submodule "PVMupen64Plus/Plugins/mupen64plus-core"]
	path = Cores/Mupen64Plus/Plugins/Core
	url = https://github.com/Provenance-Emu/mupen64plus-core.git
[submodule "PVMupen64Plus/Plugins/mupen64plus-rsp-hle"]
	path = Cores/Mupen64Plus/Plugins/rsp/hle
	url = https://github.com/mupen64plus/mupen64plus-rsp-hle.git
[submodule "PVMupen64Plus/Plugins/mupen64plus-video-rice"]
	path = Cores/Mupen64Plus/Plugins/Video/rice
	url = https://github.com/Provenance-Emu/mupen64plus-video-rice.git
[submodule "PVLibrary/LzmaSDKObjC"]
	path = PVLibrary/LzmaSDKObjC
	url = https://github.com/Provenance-Emu/LzmaSDKObjC.git
[submodule "Cores/VirtualJaguar"]
	path = Cores/VirtualJaguar
	url = https://github.com/Provenance-Emu/Core-VirtualJaguar.git
[submodule "Cores/Reicast/reicast-emulator"]
	path = Cores/Reicast/reicast-emulator
	url = https://github.com/Provenance-Emu/reicast-emulator.git
[submodule "Cores/PokeMini/PokeMini-libretro"]
	path = Cores/PokeMini/PokeMini-libretro
	url = https://github.com/libretro/PokeMini.git
[submodule "Cores/TGBDual/tgbdual-emulator"]
	path = Cores/TGBDual/tgbdual-emulator
	url = https://github.com/libretro/tgbdual-libretro.git
[submodule "Cores/Flycast/flycast"]
	path = Cores/Flycast/flycast
	url = https://github.com/flyinghead/flycast.git
[submodule "Cores/Dolphin/dolphin-ios"]
	path = Cores/Dolphin/dolphin-ios
	url = https://github.com/OatmealDome/dolphin.git
[submodule "Cores/DuckStation/duckstation"]
	path = Cores/DuckStation/duckstation
	url = https://github.com/stenzek/duckstation.git
[submodule "Cores/Desmume2015/desmume2015"]
	path = Cores/Desmume2015/desmume2015
	url = https://github.com/libretro/desmume2015.git
[submodule "Cores/O2EM"]
	path = Cores/O2EM
	url = https://github.com/Provenance-Emu/O2EM-Core.git
[submodule "Cores/CrabEMU"]
	path = Cores/CrabEMU
	url = https://github.com/Provenance-Emu/CrabEmu-Core.git
[submodule "Cores/Bliss"]
	path = Cores/Bliss
	url = https://github.com/Provenance-Emu/Bliss-Core.git
[submodule "Cores/4DO"]
	path = Cores/4DO
	url = https://github.com/Provenance-Emu/4DO-Core.git
[submodule "Cores/mGBA/mGBA-Core"]
	path = Cores/mGBA/mGBA-Core
	url = https://github.com/Provenance-Emu/mGBA-Core.git
[submodule "Cores/snesticle/SNESticle"]
	path = Cores/snesticle/SNESticle
	url = https://github.com/Provenance-Emu/SNESticle.git
[submodule "Cores/sm64ex/sm64ex-ios"]
	path = Cores/sm64ex/sm64ex-ios
	url = https://github.com/Provenance-Emu/sm64ex-ios.git
[submodule "Cores/ProSystem/ProSystem1_3"]
	path = Cores/ProSystem/ProSystem1_3
	url = https://github.com/Provenance-Emu/ProSystem1_3.git
[submodule "Cores/FinalBurnNeo/FBNeo"]
	path = Cores/FinalBurnNeo/FBNeo
	url = https://github.com/Provenance-Emu/FBNeo.git
[submodule "Cores/FCEU/fceux"]
	path = Cores/FCEU/fceux
	url = https://github.com/Provenance-Emu/fceux.git
[submodule "Cores/DosBox/dosbox-pure"]
	path = Cores/DosBox/dosbox-pure
	url = https://github.com/Provenance-Emu/dosbox-pure.git
[submodule "Cores/Mini_vMac/libretro-minivmac"]
	path = Cores/Mini_vMac/libretro-minivmac
	url = https://github.com/Provenance-Emu/libretro-minivmac.git
[submodule "Cores/BeetlePSX/beetle-psx-libretro"]
	path = Cores/BeetlePSX/beetle-psx-libretro
	url = https://github.com/Provenance-Emu/beetle-psx-libretro.git
[submodule "Cores/Potator/potator"]
	path = Cores/Potator/potator
	url = https://github.com/Provenance-Emu/potator.git
[submodule "Cores/ep128emu/ep128emu-core"]
	path = Cores/ep128emu/ep128emu-core
	url = https://github.com/Provenance-Emu/ep128emu-core.git
[submodule "Cores/hatari/hatari"]
	path = Cores/hatari/hatari
	url = https://github.com/Provenance-Emu/hatari.git
[submodule "Cores/fmsx/fmsx-libretro"]
	path = Cores/fmsx/fmsx-libretro
	url = https://github.com/Provenance-Emu/fmsx-libretro.git
[submodule "Cores/pcsx_rearmed/pcsx_rearmed"]
	path = Cores/pcsx_rearmed/pcsx_rearmed
	url = https://github.com/Provenance-Emu/pcsx_rearmed.git
[submodule "Cores/opera/opera-libretro"]
	path = Cores/opera/opera-libretro
	url = https://github.com/Provenance-Emu/opera-libretro.git
[submodule "Cores/Mu/Mu"]
	path = Cores/Mu/Mu
	url = https://github.com/Provenance-Emu/Mu.git
[submodule "Cores/Yabause/yabause"]
	path = Cores/Yabause/yabause
	url = https://github.com/Provenance-Emu/yabause.git
[submodule "Cores/melonDS/melonDS"]
	path = Cores/melonDS/melonDS
	url = https://github.com/Provenance-Emu/melonDS.git
[submodule "Cores/Mupen64Plus-NX/mupen64plus-libretro-nx"]
	path = Cores/Mupen64Plus-NX/mupen64plus-libretro-nx
	url = https://github.com/Provenance-Emu/mupen64plus-libretro-nx.git
[submodule "Cores/GameMusicEmu/libretro-gme"]
	path = Cores/GameMusicEmu/libretro-gme
	url = https://github.com/Provenance-Emu/libretro-gme.git
[submodule "Cores/VecX/libretro-vecx"]
	path = Cores/VecX/libretro-vecx
	url = https://github.com/Provenance-Emu/libretro-vecx.git
[submodule "Cores/Stella/Stella/stella"]
	path = Cores/Stella/Stella/stella
	url = https://github.com/Provenance-Emu/stella.git
[submodule "Cores/SameDuck/SameBoy"]
	path = Cores/SameDuck/SameBoy
	url = https://github.com/Provenance-Emu/SameBoy.git
[submodule "Cores/blueMSX/blueMSX-libretro"]
	path = Cores/blueMSX/blueMSX-libretro
	url = https://github.com/Provenance-Emu/blueMSX-libretro.git
[submodule "Cores/fuse/fuse-libretro"]
	path = Cores/fuse/fuse-libretro
	url = https://github.com/Provenance-Emu/fuse-libretro.git
[submodule "Cores/Gearcoleco/Gearcoleco"]
	path = Cores/Gearcoleco/Gearcoleco
	url = https://github.com/Provenance-Emu/Gearcoleco.git
[submodule "Cores/FreeIntv/FreeIntv"]
	path = Cores/FreeIntv/FreeIntv
	url = https://github.com/Provenance-Emu/FreeIntv.git
[submodule "Cores/Genesis-Plus-GX/PVGenesis/Deps/Genesis-Plus-GX"]
	path = Cores/Genesis-Plus-GX/PVGenesis/Deps/Genesis-Plus-GX
	url = https://github.com/Provenance-Emu/Genesis-Plus-GX.git
[submodule "Cores/Mupen64Plus/Plugins/rsp/cxd4"]
	path = Cores/Mupen64Plus/Plugins/rsp/cxd4
	url = https://github.com/Provenance-Emu/mupen64plus-rsp-cxd4.git
[submodule "Cores/TIC80/TIC-80"]
	path = Cores/TIC80/TIC-80
	url = https://github.com/Provenance-Emu/TIC-80.git
[submodule "Dependencies/MoltenVK"]
	path = Dependencies/MoltenVK
	url = https://github.com/Provenance-Emu/MoltenVK.git
[submodule "CoresRetro/RetroArch/RetroArch"]
        path = CoresRetro/RetroArch/RetroArch
        url = https://github.com/libretro/RetroArch.git
[submodule "CoresRetro/RetroArch/libretro-super"]
        path = CoresRetro/RetroArch/libretro-super
        url = https://github.com/libretro/libretro-super.git
[submodule "Cores/BeetlePSX/beetle-psx"]
	path = Cores/BeetlePSX/beetle-psx
	url = https://github.com/libretro/beetle-psx-libretro.git
[submodule "Cores/DosBox/dosbox"]
	path = Cores/DosBox/dosbox
	url = https://github.com/schellingb/dosbox-pure.git
[submodule "Cores/NP2Kai/libretro-np2kai"]
	path = Cores/NP2Kai/libretro-np2kai
	url = https://github.com/AZO234/NP2kai.git
[submodule "Cores/snes9x/libretro-snes9x"]
	path = Cores/snes9x/libretro-snes9x
	url = https://github.com/libretro/snes9x.git
[submodule "Cores/supergrafx/libretro-supergrafx"]
	path = Cores/supergrafx/libretro-supergrafx
	url = https://github.com/libretro/beetle-supergrafx-libretro.git
[submodule "Cores/melonDS/melonds-libretro"]
	path = Cores/melonDS/melonds-libretro
	url = https://github.com/libretro/melonDS.git
[submodule "Cores/PPSSPP/libretro_ppsspp"]
	path = Cores/PPSSPP/libretro_ppsspp
	url = https://github.com/hrydgard/ppsspp.git
[submodule "Cores/Play/Play-"]
	path = Cores/Play/Play-
	url = https://github.com/jpd002/Play-.git
[submodule "CoresRetro/RetroArch/PVRetroArchCore/Archive/UnrarKit"]
	path = CoresRetro/RetroArch/PVRetroArchCore/Archive/UnrarKit
	url = https://github.com/abbeycode/UnrarKit.git
[submodule "CoresRetro/RetroArch/PVRetroArchCore/Archive/lhasa"]
	path = CoresRetro/RetroArch/PVRetroArchCore/Archive/lhasa
	url = https://github.com/fragglet/lhasa.git
[submodule "CoresRetro/RetroArch/PVRetroArchCore/Archive/ZipArchive"]
	path = CoresRetro/RetroArch/PVRetroArchCore/Archive/ZipArchive
	url = https://github.com/ZipArchive/ZipArchive.git
