// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974

MARKETING_VERSION = 2.1.0
CURRENT_PROJECT_VERSION = 2780

// Vars to be overwritten by `CodeSigning.xcconfig` if exists
DEVELOPMENT_TEAM = S32Z3HMYVQ
ORG_IDENTIFIER = org.provenance-emu

// Codesigning settings defined optionally, see `CodeSigning.xcconfig.example`
#include? "CodeSigning.xcconfig"

ORG_PREFIX = $(ORG_IDENTIFIER)

PRODUCT_NAME = Provenance
//PRODUCT_NAME[configuration=Debug] = Prov Debug

PRODUCT_BUNDLE_IDENTIFIER   = $(ORG_PREFIX).$(PROJECT_NAME:lower)
//PRODUCT_BUNDLE_IDENTIFIER[configuration=Debug] = $(ORG_PREFIX).$(PROJECT_NAME:lower)-debug

APP_GROUP_IDENTIFIER        = group.$(ORG_PREFIX).$(PROJECT_NAME:lower)
ICLOUD_CONTAINER_IDENTIFIER = iCloud.$(ORG_PREFIX).$(PROJECT_NAME:lower)


// CODE_SIGN_ENTITLEMENTS      = $(TARGET_NAME)/$(TARGET_NAME)$(ENTITLEMENTS_TYPE).entitlements


// Entitlements based off of CodeSigning settings
IOS_CODE_SIGN_ENTITLEMENTS_YES = Provenance/Provenance.entitlements
IOS_CODE_SIGN_ENTITLEMENTS_NO =
//IOS_CODE_SIGN_ENTITLEMENTS = $(IOS_CODE_SIGN_ENTITLEMENTS_$(DEVELOPER_ACCOUNT_PAID:default=NO))

TVOS_CODE_SIGN_ENTITLEMENTS_YES = ProvenanceTV/Provenance.entitlements
TVOS_CODE_SIGN_ENTITLEMENTS_NO =
//TVOS_CODE_SIGN_ENTITLEMENTS = $(TVOS_CODE_SIGN_ENTITLEMENTS_$(DEVELOPER_ACCOUNT_PAID:default=NO))

TOPSHELF_PRODUCT_BUNDLE_IDENTIFIER = $(ORG_PREFIX).$(PROJECT_NAME:lower).topshelf
SPOTLIGHT_PRODUCT_BUNDLE_IDENTIFIER = $(ORG_PREFIX).$(PROJECT_NAME:lower).spotlight

WATCH_PRODUCT_BUNDLE_IDENTIFIER =  $(ORG_PREFIX).$(PROJECT_NAME:lower)-watch
WATCH_APP_PRODUCT_BUNDLE_IDENTIFIER = $(WATCH_PRODUCT_BUNDLE_IDENTIFIER).watchkitapp
WATCH_APP_EXTENSION_PRODUCT_BUNDLE_IDENTIFIER = $(WATCH_APP_PRODUCT_BUNDLE_IDENTIFIER).watchkitextension

PVSUPPORT_PRODUCT_BUNDLE_IDENTIFIER = $(ORG_PREFIX).$(PROJECT_NAME:lower).PVSupport
PVLIBRARY_PRODUCT_BUNDLE_IDENTIFIER = $(ORG_PREFIX).$(PROJECT_NAME:lower).PVLibrary

// MAC_CODE_SIGN_ENTITLEMENTS_YES = Platform/macOS/macOS.entitlements
// MAC_CODE_SIGN_ENTITLEMENTS_NO = Platform/macOS/macOS-unsigned.entitlements
// MAC_CODE_SIGN_ENTITLEMENTS = $(MAC_CODE_SIGN_ENTITLEMENTS_$(DEVELOPER_ACCOUNT_VM_ACCESS:default=NO))

// Fixes XCode 13.2.1 issues
//OTHER_LDFLAGS = $(inherited) -Wl,-weak-lswift_Concurrency -Wl,-rpath,/usr/lib/swift -ObjC

//OTHER_LDFLAGS = $(inherited)
ENABLE_BITCODE = NO
