# App
github "bitstadium/HockeySDK-iOS" "5.1.4"
github "bitstadium/HockeySDK-tvOS" "5.1.0"
github "xmartlabs/XLActionController" "4.1.1"
github "bcylin/QuickTableViewController" "v1.1.0"
github "RxSwiftCommunity/RxDataSources"
github "RxSwiftCommunity/RxGesture"
github "google/promises"
github "zydeco/SteamController" "v1.0.3"

# Crashlytics - Static Libs
# iOS
# binary "https://building42.github.io/Specs/Carthage/iOS/Answers.json"
binary "https://building42.github.io/Specs/Carthage/iOS/Crashlytics.json"
binary "https://building42.github.io/Specs/Carthage/iOS/Fabric.json"

# tvOS
# binary "https://building42.github.io/Specs/Carthage/tvOS/Answers.json"
binary "https://building42.github.io/Specs/Carthage/tvOS/Crashlytics.json"
binary "https://building42.github.io/Specs/Carthage/tvOS/Fabric.json"

# PVSupport
github "fpillet/NSLogger" "v1.9.7"
github "CocoaLumberjack/CocoaLumberjack" "3.4.2"
github "radex/SwiftyUserDefaults" "3.0.1"
github "ashleymills/Reachability.swift"

# PVLibrary
github "ZipArchive/ZipArchive" ~> 2.1.4
github "weichsel/ZIPFoundation" ~> 0.9.8
#github "tsolomko/SWCompression" ~> 4.5
github "realm/realm-cocoa"
github "stephencelis/SQLite.swift" ~> 0.11.5

# Rx
github "ReactiveX/RxSwift" ~> 4.4.1
github "RxSwiftCommunity/RxRealm"
