<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>PVCoreIdentifier</key>
	<string>com.provenance.core.atari800</string>
	<key>PVPrincipleClass</key>
	<string>ATR800GameCore</string>
	<key>PVSupportedSystems</key>
	<array>
		<string>com.provenance.5200</string>
	</array>
	<key>PVProjectName</key>
	<string>Atari 800</string>
	<key>PVProjectURL</key>
	<string>https://atari800.github.io</string>
	<key>PVProjectVersion</key>
	<string>3.1.0</string>
</dict>
</plist>
