<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>PVCoreIdentifier</key>
	<string>com.provenance.core.prosystem</string>
	<key>PVPrincipleClass</key>
	<string>PVProSystemGameCore</string>
	<key>PVSupportedSystems</key>
	<array>
		<string>com.provenance.7800</string>
	</array>
	<key>PVProjectName</key>
	<string>ProSystem</string>
	<key>PVProjectURL</key>
	<string>https://gstanton.github.io/ProSystem1_3/</string>
	<key>PVProjectVersion</key>
	<string>1.3</string>
</dict>
</plist>
