<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>PVCoreIdentifier</key>
	<string>com.provenance.core.visualboyadvance</string>
	<key>PVPrincipleClass</key>
	<string>PVGBAEmulatorCore</string>
	<key>PVSupportedSystems</key>
	<array>
		<string>com.provenance.gba</string>
	</array>
	<key>PVProjectName</key>
	<string>VisualBoyAdvance</string>
	<key>PVProjectURL</key>
	<string>https://sourceforge.net/projects/vba/</string>
	<key>PVProjectVersion</key>
	<string>1.8.0</string>
</dict>
</plist>
