# Xcode
*.DS_Store
OEBuildVersion.h
*/build/*
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
*.xcworkspace
!OpenEmu.xcworkspace
!default.xcworkspace
xcuserdata
profile
*.moved-aside
icon?

yabause/src/c68k/c68k_ini.inc

yabause/src/c68k/c68k_op0.inc

yabause/src/c68k/c68k_op2.inc

yabause/src/c68k/c68k_op1.inc

yabause/src/c68k/c68k_opA.inc

yabause/src/c68k/c68k_op5.inc

yabause/src/c68k/c68k_op3.inc

yabause/src/c68k/c68k_op4.inc

yabause/src/c68k/c68k_op6.inc

yabause/src/c68k/c68k_op7.inc

yabause/src/c68k/c68k_op8.inc

yabause/src/c68k/c68k_op9.inc

yabause/src/c68k/c68k_opB.inc

yabause/src/c68k/c68k_opC.inc

yabause/src/c68k/c68k_opD.inc

yabause/src/c68k/c68k_opE.inc

yabause/src/c68k/c68k_opF.inc
