//
//  BuildFlags.xcconfig
//  PVFreeIntv
//
//  Created by Joseph Mattiello on 11/1/18.
//
//

// All
GCC_PREPROCESSOR_DEFINITIONS = $(inherited) __LIBRETRO__=1
OTHER_CFLAGS = $(inherited) -ObjC
OTHER_LDFLAGS = $(inherited) -ObjC -Wl,-all_load -all_load

    // Device
GCC_PREPROCESSOR_DEFINITIONS[sdk=iphoneos*] = $(inherited) TARGET_IPHONE=1
OTHER_CFLAGS[sdk=iphoneos*] = $(inherited)

// Simulator
GCC_PREPROCESSOR_DEFINITIONS[sdk=iphonesimulator*] = $(inherited) TARGET_IPHONE_SIMULATOR=1

// tvOS Device
GCC_PREPROCESSOR_DEFINITIONS[sdk=appletvos*] = $(inherited) TARGET_IPHONE=1
OTHER_CFLAGS[sdk=appletvos*] = $(inherited)

// tvOS Simulator
GCC_PREPROCESSOR_DEFINITIONS[sdk=appletvsimulator*] = $(inherited) TARGET_IPHONE_SIMULATOR=1
