[Desktop Entry]
Name=Reicast
GenericName=Dreamcast Emulator
GenericName[de]=Dreamcast-Emulator
GenericName[fr]=Émulateur Dreamcast
GenericName[es]=Emulador de Dreamcast
GenericName[pt]=Emulador de Dreamcast
GenericName[it]=Emulatore Dreamcast
GenericName[gr]=Dreamcast εξομοιωτή
GenericName[ru]=Dreamcast эмулятор
Comment=Play your favourite Dreamcast games on your PC
Comment[de]=Spiele deine Lieblings-Dreamcast-Spiele auf deinem PC
Comment[fr]=Jouez à vos jeux Dreamcast préférés sur votre PC
Comment[es]=Juega tus juegos favoritos de Dreamcast en su PC
Comment[pt]=Jogue seus jogos favoritos Dreamcast no seu PC
Comment[it]=Gioca i tuoi giochi preferiti Dreamcast sul PC
Comment[gr]=Παίξτε τα αγαπημένα σας παιχνίδια Dreamcast στο PC σας
Comment[ru]=Играйте в любимые игры Dreamcast на вашем компьютере
Exec=reicast %f
Icon=reicast
Terminal=false
Type=Application
StartupNotify=false
Categories=Game;Emulator;
