<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>PVSystemName</key>
		<string>SegaCD</string>
		<key>PVShortSystemName</key>
		<string>SegaCD</string>
		<key>PVSystemIdentifier</key>
		<string>com.provenance.segacd</string>
		<key>PVDatabaseID</key>
		<string>32</string>
		<key>PVUsesCDs</key>
		<true/>
		<key>PVRequiresBIOS</key>
		<true/>
		<key>PVBIOSNames</key>
		<array>
			<string>bios_CD_E.bin</string>
			<string>bios_CD_U.bin</string>
			<string>bios_CD_J.bin</string>
		</array>
		<key>PVSupportedExtensions</key>
		<array>
			<string>cue</string>
		</array>
		<key>PVControlLayout</key>
		<array>
			<dict>
				<key>PVControlType</key>
				<string>PVButtonGroup</string>
				<key>PVControlSize</key>
				<string>{212,160}</string>
				<key>PVGroupedButtons</key>
				<array>
					<dict>
						<key>PVControlType</key>
						<string>PVButton</string>
						<key>PVControlTitle</key>
						<string>A</string>
						<key>PVControlFrame</key>
						<string>{{8,92},{60,60}}</string>
					</dict>
					<dict>
						<key>PVControlType</key>
						<string>PVButton</string>
						<key>PVControlTitle</key>
						<string>B</string>
						<key>PVControlFrame</key>
						<string>{{76,84},{60,60}}</string>
					</dict>
					<dict>
						<key>PVControlType</key>
						<string>PVButton</string>
						<key>PVControlTitle</key>
						<string>C</string>
						<key>PVControlFrame</key>
						<string>{{144,76},{60,60}}</string>
					</dict>
					<dict>
						<key>PVControlType</key>
						<string>PVButton</string>
						<key>PVControlTitle</key>
						<string>X</string>
						<key>PVControlFrame</key>
						<string>{{8,24},{60,60}}</string>
					</dict>
					<dict>
						<key>PVControlType</key>
						<string>PVButton</string>
						<key>PVControlTitle</key>
						<string>Y</string>
						<key>PVControlFrame</key>
						<string>{{76,16},{60,60}}</string>
					</dict>
					<dict>
						<key>PVControlType</key>
						<string>PVButton</string>
						<key>PVControlTitle</key>
						<string>Z</string>
						<key>PVControlFrame</key>
						<string>{{144,8},{60,60}}</string>
					</dict>
				</array>
			</dict>
			<dict>
				<key>PVControlType</key>
				<string>PVDPad</string>
				<key>PVControlSize</key>
				<string>{180,180}</string>
			</dict>
			<dict>
				<key>PVControlType</key>
				<string>PVStartButton</string>
				<key>PVControlTitle</key>
				<string>Start</string>
				<key>PVControlSize</key>
				<string>{62,22}</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>PVSystemName</key>
		<string>Sega Genesis</string>
		<key>PVShortSystemName</key>
		<string>Genesis</string>
		<key>PVSystemIdentifier</key>
		<string>com.provenance.genesis</string>
		<key>PVDatabaseID</key>
		<string>33</string>
		<key>PVSupportedExtensions</key>
		<array>
			<string>smd</string>
			<string>bin</string>
			<string>md</string>
			<string>gen</string>
		</array>
		<key>PVControlLayout</key>
		<array>
			<dict>
				<key>PVControlType</key>
				<string>PVButtonGroup</string>
				<key>PVControlSize</key>
				<string>{212,160}</string>
				<key>PVGroupedButtons</key>
				<array>
					<dict>
						<key>PVControlType</key>
						<string>PVButton</string>
						<key>PVControlTitle</key>
						<string>A</string>
						<key>PVControlFrame</key>
						<string>{{8,92},{60,60}}</string>
					</dict>
					<dict>
						<key>PVControlType</key>
						<string>PVButton</string>
						<key>PVControlTitle</key>
						<string>B</string>
						<key>PVControlFrame</key>
						<string>{{76,84},{60,60}}</string>
					</dict>
					<dict>
						<key>PVControlType</key>
						<string>PVButton</string>
						<key>PVControlTitle</key>
						<string>C</string>
						<key>PVControlFrame</key>
						<string>{{144,76},{60,60}}</string>
					</dict>
					<dict>
						<key>PVControlType</key>
						<string>PVButton</string>
						<key>PVControlTitle</key>
						<string>X</string>
						<key>PVControlFrame</key>
						<string>{{8,24},{60,60}}</string>
					</dict>
					<dict>
						<key>PVControlType</key>
						<string>PVButton</string>
						<key>PVControlTitle</key>
						<string>Y</string>
						<key>PVControlFrame</key>
						<string>{{76,16},{60,60}}</string>
					</dict>
					<dict>
						<key>PVControlType</key>
						<string>PVButton</string>
						<key>PVControlTitle</key>
						<string>Z</string>
						<key>PVControlFrame</key>
						<string>{{144,8},{60,60}}</string>
					</dict>
				</array>
			</dict>
			<dict>
				<key>PVControlType</key>
				<string>PVDPad</string>
				<key>PVControlSize</key>
				<string>{180,180}</string>
			</dict>
			<dict>
				<key>PVControlType</key>
				<string>PVStartButton</string>
				<key>PVControlTitle</key>
				<string>Start</string>
				<key>PVControlSize</key>
				<string>{62,22}</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>PVSystemName</key>
		<string>Sega Game Gear</string>
		<key>PVShortSystemName</key>
		<string>Game Gear</string>
		<key>PVSystemIdentifier</key>
		<string>com.provenance.gamegear</string>
		<key>PVDatabaseID</key>
		<string>30</string>
		<key>PVSupportedExtensions</key>
		<array>
			<string>gg</string>
		</array>
		<key>PVControlLayout</key>
		<array>
			<dict>
				<key>PVControlType</key>
				<string>PVButtonGroup</string>
				<key>PVControlSize</key>
				<string>{180, 180}</string>
				<key>PVGroupedButtons</key>
				<array>
					<dict>
						<key>PVControlType</key>
						<string>PVButton</string>
						<key>PVControlTitle</key>
						<string>1</string>
						<key>PVControlFrame</key>
						<string>{{116,60},{60,60}}</string>
					</dict>
					<dict>
						<key>PVControlType</key>
						<string>PVButton</string>
						<key>PVControlTitle</key>
						<string>2</string>
						<key>PVControlFrame</key>
						<string>{{60,116},{60,60}}</string>
					</dict>
				</array>
			</dict>
			<dict>
				<key>PVControlType</key>
				<string>PVDPad</string>
				<key>PVControlSize</key>
				<string>{180,180}</string>
			</dict>
			<dict>
				<key>PVControlType</key>
				<string>PVStartButton</string>
				<key>PVControlTitle</key>
				<string>Start</string>
				<key>PVControlSize</key>
				<string>{62,22}</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>PVSystemName</key>
		<string>Sega Master System</string>
		<key>PVShortSystemName</key>
		<string>Master System</string>
		<key>PVSystemIdentifier</key>
		<string>com.provenance.mastersystem</string>
		<key>PVDatabaseID</key>
		<string>31</string>
		<key>PVSupportedExtensions</key>
		<array>
			<string>sms</string>
		</array>
		<key>PVControlLayout</key>
		<array>
			<dict>
				<key>PVControlType</key>
				<string>PVButtonGroup</string>
				<key>PVControlSize</key>
				<string>{180, 180}</string>
				<key>PVGroupedButtons</key>
				<array>
					<dict>
						<key>PVControlType</key>
						<string>PVButton</string>
						<key>PVControlTitle</key>
						<string>1</string>
						<key>PVControlFrame</key>
						<string>{{116,60},{60,60}}</string>
					</dict>
					<dict>
						<key>PVControlType</key>
						<string>PVButton</string>
						<key>PVControlTitle</key>
						<string>2</string>
						<key>PVControlFrame</key>
						<string>{{60,116},{60,60}}</string>
					</dict>
				</array>
			</dict>
			<dict>
				<key>PVControlType</key>
				<string>PVDPad</string>
				<key>PVControlSize</key>
				<string>{180,180}</string>
			</dict>
			<dict>
				<key>PVControlType</key>
				<string>PVStartButton</string>
				<key>PVControlTitle</key>
				<string>Pause</string>
				<key>PVControlSize</key>
				<string>{62,22}</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>PVSystemName</key>
		<string>Super Nintendo Entertainment System</string>
		<key>PVShortSystemName</key>
		<string>SNES</string>
		<key>PVSystemIdentifier</key>
		<string>com.provenance.snes</string>
		<key>PVDatabaseID</key>
		<string>26</string>
		<key>PVSupportedExtensions</key>
		<array>
			<string>smc</string>
			<string>snes</string>
			<string>fig</string>
			<string>sfc</string>
		</array>
		<key>PVControlLayout</key>
		<array>
			<dict>
				<key>PVControlType</key>
				<string>PVButtonGroup</string>
				<key>PVControlSize</key>
				<string>{180, 180}</string>
				<key>PVGroupedButtons</key>
				<array>
					<dict>
						<key>PVControlType</key>
						<string>PVButton</string>
						<key>PVControlTitle</key>
						<string>A</string>
						<key>PVControlFrame</key>
						<string>{{116,60},{60,60}}</string>
					</dict>
					<dict>
						<key>PVControlType</key>
						<string>PVButton</string>
						<key>PVControlTitle</key>
						<string>B</string>
						<key>PVControlFrame</key>
						<string>{{60,116},{60,60}}</string>
					</dict>
					<dict>
						<key>PVControlType</key>
						<string>PVButton</string>
						<key>PVControlTitle</key>
						<string>X</string>
						<key>PVControlFrame</key>
						<string>{{60,4},{60,60}}</string>
					</dict>
					<dict>
						<key>PVControlType</key>
						<string>PVButton</string>
						<key>PVControlTitle</key>
						<string>Y</string>
						<key>PVControlFrame</key>
						<string>{{4,60},{60,60}}</string>
					</dict>
				</array>
			</dict>
			<dict>
				<key>PVControlType</key>
				<string>PVDPad</string>
				<key>PVControlSize</key>
				<string>{180,180}</string>
			</dict>
			<dict>
				<key>PVControlType</key>
				<string>PVStartButton</string>
				<key>PVControlTitle</key>
				<string>Start</string>
				<key>PVControlSize</key>
				<string>{62,22}</string>
			</dict>
			<dict>
				<key>PVControlType</key>
				<string>PVSelectButton</string>
				<key>PVControlTitle</key>
				<string>Select</string>
				<key>PVControlSize</key>
				<string>{62,22}</string>
			</dict>
			<dict>
				<key>PVControlType</key>
				<string>PVLeftShoulderButton</string>
				<key>PVControlTitle</key>
				<string>L</string>
				<key>PVControlSize</key>
				<string>{62,22}</string>
			</dict>
			<dict>
				<key>PVControlType</key>
				<string>PVRightShoulderButton</string>
				<key>PVControlTitle</key>
				<string>R</string>
				<key>PVControlSize</key>
				<string>{62,22}</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>PVSystemName</key>
		<string>Gameboy Advance</string>
		<key>PVShortSystemName</key>
		<string>Gameboy Advance</string>
		<key>PVSystemIdentifier</key>
		<string>com.provenance.gba</string>
		<key>PVDatabaseID</key>
		<string>20</string>
		<key>PVSupportedExtensions</key>
		<array>
			<string>gba</string>
		</array>
		<key>PVControlLayout</key>
		<array>
			<dict>
				<key>PVControlType</key>
				<string>PVButtonGroup</string>
				<key>PVControlSize</key>
				<string>{180, 180}</string>
				<key>PVGroupedButtons</key>
				<array>
					<dict>
						<key>PVControlType</key>
						<string>PVButton</string>
						<key>PVControlTitle</key>
						<string>A</string>
						<key>PVControlFrame</key>
						<string>{{116,60},{60,60}}</string>
					</dict>
					<dict>
						<key>PVControlType</key>
						<string>PVButton</string>
						<key>PVControlTitle</key>
						<string>B</string>
						<key>PVControlFrame</key>
						<string>{{60,116},{60,60}}</string>
					</dict>
				</array>
			</dict>
			<dict>
				<key>PVControlType</key>
				<string>PVDPad</string>
				<key>PVControlSize</key>
				<string>{180,180}</string>
			</dict>
			<dict>
				<key>PVControlType</key>
				<string>PVStartButton</string>
				<key>PVControlTitle</key>
				<string>Start</string>
				<key>PVControlSize</key>
				<string>{62,22}</string>
			</dict>
			<dict>
				<key>PVControlType</key>
				<string>PVSelectButton</string>
				<key>PVControlTitle</key>
				<string>Select</string>
				<key>PVControlSize</key>
				<string>{62,22}</string>
			</dict>
			<dict>
				<key>PVControlType</key>
				<string>PVLeftShoulderButton</string>
				<key>PVControlTitle</key>
				<string>L</string>
				<key>PVControlSize</key>
				<string>{62,22}</string>
			</dict>
			<dict>
				<key>PVControlType</key>
				<string>PVRightShoulderButton</string>
				<key>PVControlTitle</key>
				<string>R</string>
				<key>PVControlSize</key>
				<string>{62,22}</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>PVSystemName</key>
		<string>Gameboy</string>
		<key>PVShortSystemName</key>
		<string>Gameboy</string>
		<key>PVSystemIdentifier</key>
		<string>com.provenance.gb</string>
		<key>PVDatabaseID</key>
		<string>19</string>
		<key>PVSupportedExtensions</key>
		<array>
			<string>gb</string>
		</array>
		<key>PVControlLayout</key>
		<array>
			<dict>
				<key>PVControlType</key>
				<string>PVButtonGroup</string>
				<key>PVControlSize</key>
				<string>{180, 180}</string>
				<key>PVGroupedButtons</key>
				<array>
					<dict>
						<key>PVControlType</key>
						<string>PVButton</string>
						<key>PVControlTitle</key>
						<string>A</string>
						<key>PVControlFrame</key>
						<string>{{116,60},{60,60}}</string>
					</dict>
					<dict>
						<key>PVControlType</key>
						<string>PVButton</string>
						<key>PVControlTitle</key>
						<string>B</string>
						<key>PVControlFrame</key>
						<string>{{60,116},{60,60}}</string>
					</dict>
				</array>
			</dict>
			<dict>
				<key>PVControlType</key>
				<string>PVDPad</string>
				<key>PVControlSize</key>
				<string>{180,180}</string>
			</dict>
			<dict>
				<key>PVControlType</key>
				<string>PVStartButton</string>
				<key>PVControlTitle</key>
				<string>Start</string>
				<key>PVControlSize</key>
				<string>{62,22}</string>
			</dict>
			<dict>
				<key>PVControlType</key>
				<string>PVSelectButton</string>
				<key>PVControlTitle</key>
				<string>Select</string>
				<key>PVControlSize</key>
				<string>{62,22}</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>PVSystemName</key>
		<string>Gameboy Color</string>
		<key>PVShortSystemName</key>
		<string>Gameboy Color</string>
		<key>PVSystemIdentifier</key>
		<string>com.provenance.gbc</string>
		<key>PVDatabaseID</key>
		<string>21</string>
		<key>PVSupportedExtensions</key>
		<array>
			<string>gbc</string>
			<string>sgb</string>
		</array>
		<key>PVControlLayout</key>
		<array>
			<dict>
				<key>PVControlType</key>
				<string>PVButtonGroup</string>
				<key>PVControlSize</key>
				<string>{180, 180}</string>
				<key>PVGroupedButtons</key>
				<array>
					<dict>
						<key>PVControlType</key>
						<string>PVButton</string>
						<key>PVControlTitle</key>
						<string>A</string>
						<key>PVControlFrame</key>
						<string>{{116,60},{60,60}}</string>
					</dict>
					<dict>
						<key>PVControlType</key>
						<string>PVButton</string>
						<key>PVControlTitle</key>
						<string>B</string>
						<key>PVControlFrame</key>
						<string>{{60,116},{60,60}}</string>
					</dict>
				</array>
			</dict>
			<dict>
				<key>PVControlType</key>
				<string>PVDPad</string>
				<key>PVControlSize</key>
				<string>{180,180}</string>
			</dict>
			<dict>
				<key>PVControlType</key>
				<string>PVStartButton</string>
				<key>PVControlTitle</key>
				<string>Start</string>
				<key>PVControlSize</key>
				<string>{62,22}</string>
			</dict>
			<dict>
				<key>PVControlType</key>
				<string>PVSelectButton</string>
				<key>PVControlTitle</key>
				<string>Select</string>
				<key>PVControlSize</key>
				<string>{62,22}</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>PVSystemName</key>
		<string>Nintendo Entertainment System</string>
		<key>PVShortSystemName</key>
		<string>NES</string>
		<key>PVSystemIdentifier</key>
		<string>com.provenance.nes</string>
		<key>PVDatabaseID</key>
		<string>25</string>
		<key>PVSupportedExtensions</key>
		<array>
			<string>nes</string>
		</array>
		<key>PVControlLayout</key>
		<array>
			<dict>
				<key>PVControlType</key>
				<string>PVButtonGroup</string>
				<key>PVControlSize</key>
				<string>{180, 180}</string>
				<key>PVGroupedButtons</key>
				<array>
					<dict>
						<key>PVControlType</key>
						<string>PVButton</string>
						<key>PVControlTitle</key>
						<string>A</string>
						<key>PVControlFrame</key>
						<string>{{116,60},{60,60}}</string>
					</dict>
					<dict>
						<key>PVControlType</key>
						<string>PVButton</string>
						<key>PVControlTitle</key>
						<string>B</string>
						<key>PVControlFrame</key>
						<string>{{60,116},{60,60}}</string>
					</dict>
				</array>
			</dict>
			<dict>
				<key>PVControlType</key>
				<string>PVDPad</string>
				<key>PVControlSize</key>
				<string>{180,180}</string>
			</dict>
			<dict>
				<key>PVControlType</key>
				<string>PVStartButton</string>
				<key>PVControlTitle</key>
				<string>Start</string>
				<key>PVControlSize</key>
				<string>{62,22}</string>
			</dict>
			<dict>
				<key>PVControlType</key>
				<string>PVSelectButton</string>
				<key>PVControlTitle</key>
				<string>Select</string>
				<key>PVControlSize</key>
				<string>{62,22}</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>PVSystemName</key>
		<string>Famicom Disk System</string>
		<key>PVShortSystemName</key>
		<string>FDS</string>
		<key>PVSystemIdentifier</key>
		<string>com.provenance.fds</string>
		<key>PVDatabaseID</key>
		<string>18</string>
		<key>PVRequiresBIOS</key>
		<true/>
		<key>PVBIOSNames</key>
		<array>
			<string>disksys.rom</string>
		</array>
		<key>PVSupportedExtensions</key>
		<array>
			<string>fds</string>
		</array>
		<key>PVControlLayout</key>
		<array>
			<dict>
				<key>PVControlType</key>
				<string>PVButtonGroup</string>
				<key>PVControlSize</key>
				<string>{180, 180}</string>
				<key>PVGroupedButtons</key>
				<array>
					<dict>
						<key>PVControlType</key>
						<string>PVButton</string>
						<key>PVControlTitle</key>
						<string>A</string>
						<key>PVControlFrame</key>
						<string>{{116,60},{60,60}}</string>
					</dict>
					<dict>
						<key>PVControlType</key>
						<string>PVButton</string>
						<key>PVControlTitle</key>
						<string>B</string>
						<key>PVControlFrame</key>
						<string>{{60,116},{60,60}}</string>
					</dict>
				</array>
			</dict>
			<dict>
				<key>PVControlType</key>
				<string>PVDPad</string>
				<key>PVControlSize</key>
				<string>{180,180}</string>
			</dict>
			<dict>
				<key>PVControlType</key>
				<string>PVStartButton</string>
				<key>PVControlTitle</key>
				<string>Start</string>
				<key>PVControlSize</key>
				<string>{62,22}</string>
			</dict>
			<dict>
				<key>PVControlType</key>
				<string>PVSelectButton</string>
				<key>PVControlTitle</key>
				<string>Select</string>
				<key>PVControlSize</key>
				<string>{62,22}</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>PVSystemName</key>
		<string>Sega SG-1000</string>
		<key>PVShortSystemName</key>
		<string>SG-1000</string>
		<key>PVSystemIdentifier</key>
		<string>com.provenance.sg1000</string>
		<key>PVDatabaseID</key>
		<string>35</string>
		<key>PVSupportedExtensions</key>
		<array>
			<string>sg</string>
		</array>
		<key>PVControlLayout</key>
		<array>
			<dict>
				<key>PVControlType</key>
				<string>PVButtonGroup</string>
				<key>PVControlSize</key>
				<string>{180, 180}</string>
				<key>PVGroupedButtons</key>
				<array>
					<dict>
						<key>PVControlType</key>
						<string>PVButton</string>
						<key>PVControlTitle</key>
						<string>1</string>
						<key>PVControlFrame</key>
						<string>{{4,60},{60,60}}</string>
					</dict>
					<dict>
						<key>PVControlType</key>
						<string>PVButton</string>
						<key>PVControlTitle</key>
						<string>2</string>
						<key>PVControlFrame</key>
						<string>{{116,60},{60,60}}</string>
					</dict>
				</array>
			</dict>
			<dict>
				<key>PVControlType</key>
				<string>PVDPad</string>
				<key>PVControlSize</key>
				<string>{180,180}</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>PVSystemName</key>
		<string>Atari 2600</string>
		<key>PVShortSystemName</key>
		<string>2600</string>
		<key>PVSystemIdentifier</key>
		<string>com.provenance.2600</string>
		<key>PVDatabaseID</key>
		<string>3</string>
		<key>PVSupportedExtensions</key>
		<array>
			<string>a26</string>
		</array>
		<key>PVControlLayout</key>
		<array>
			<dict>
				<key>PVControlType</key>
				<string>PVButtonGroup</string>
				<key>PVControlSize</key>
				<string>{180,180}</string>
				<key>PVGroupedButtons</key>
				<array>
					<dict>
						<key>PVControlType</key>
						<string>PVButton</string>
						<key>PVControlTitle</key>
						<string>Fire</string>
						<key>PVControlFrame</key>
						<string>{{76,84},{60,60}}</string>
					</dict>
				</array>
			</dict>
			<dict>
				<key>PVControlType</key>
				<string>PVStartButton</string>
				<key>PVControlTitle</key>
				<string>Reset</string>
				<key>PVControlSize</key>
				<string>{62,22}</string>
			</dict>
			<dict>
				<key>PVControlType</key>
				<string>PVSelectButton</string>
				<key>PVControlTitle</key>
				<string>Select</string>
				<key>PVControlSize</key>
				<string>{62,22}</string>
			</dict>
			<dict>
				<key>PVControlType</key>
				<string>PVDPad</string>
				<key>PVControlSize</key>
				<string>{180,180}</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>PVSystemName</key>
		<string>Atari 7800</string>
		<key>PVShortSystemName</key>
		<string>7800</string>
		<key>PVSystemIdentifier</key>
		<string>com.provenance.7800</string>
		<key>PVDatabaseID</key>
		<string>5</string>
		<key>PVSupportedExtensions</key>
		<array>
			<string>a78</string>
		</array>
		<key>PVControlLayout</key>
		<array>
			<dict>
				<key>PVControlType</key>
				<string>PVButtonGroup</string>
				<key>PVControlSize</key>
				<string>{180,180}</string>
				<key>PVGroupedButtons</key>
				<array>
					<dict>
						<key>PVControlType</key>
						<string>PVButton</string>
						<key>PVControlTitle</key>
						<string>Fire 1</string>
						<key>PVControlFrame</key>
						<string>{{116,60},{60,60}}</string>
					</dict>
					<dict>
						<key>PVControlType</key>
						<string>PVButton</string>
						<key>PVControlTitle</key>
						<string>Fire 2</string>
						<key>PVControlFrame</key>
						<string>{{60,116},{60,60}}</string>
					</dict>
				</array>
			</dict>
			<dict>
				<key>PVControlType</key>
				<string>PVStartButton</string>
				<key>PVControlTitle</key>
				<string>Reset</string>
				<key>PVControlSize</key>
				<string>{62,22}</string>
			</dict>
			<dict>
				<key>PVControlType</key>
				<string>PVSelectButton</string>
				<key>PVControlTitle</key>
				<string>Select</string>
				<key>PVControlSize</key>
				<string>{62,22}</string>
			</dict>
			<dict>
				<key>PVControlType</key>
				<string>PVDPad</string>
				<key>PVControlSize</key>
				<string>{180,180}</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>PVSystemName</key>
		<string>Sega 32X</string>
		<key>PVShortSystemName</key>
		<string>32X</string>
		<key>PVSystemIdentifier</key>
		<string>com.provenance.32X</string>
		<key>PVDatabaseID</key>
		<string>29</string>
		<key>PVSupportedExtensions</key>
		<array>
			<string>32X</string>
			<string>32x</string>
		</array>
		<key>PVControlLayout</key>
		<array>
			<dict>
				<key>PVControlType</key>
				<string>PVButtonGroup</string>
				<key>PVControlSize</key>
				<string>{212,160}</string>
				<key>PVGroupedButtons</key>
				<array>
					<dict>
						<key>PVControlType</key>
						<string>PVButton</string>
						<key>PVControlTitle</key>
						<string>A</string>
						<key>PVControlFrame</key>
						<string>{{8,92},{60,60}}</string>
					</dict>
					<dict>
						<key>PVControlType</key>
						<string>PVButton</string>
						<key>PVControlTitle</key>
						<string>B</string>
						<key>PVControlFrame</key>
						<string>{{76,84},{60,60}}</string>
					</dict>
					<dict>
						<key>PVControlType</key>
						<string>PVButton</string>
						<key>PVControlTitle</key>
						<string>C</string>
						<key>PVControlFrame</key>
						<string>{{144,76},{60,60}}</string>
					</dict>
					<dict>
						<key>PVControlType</key>
						<string>PVButton</string>
						<key>PVControlTitle</key>
						<string>X</string>
						<key>PVControlFrame</key>
						<string>{{8,24},{60,60}}</string>
					</dict>
					<dict>
						<key>PVControlType</key>
						<string>PVButton</string>
						<key>PVControlTitle</key>
						<string>Y</string>
						<key>PVControlFrame</key>
						<string>{{76,16},{60,60}}</string>
					</dict>
					<dict>
						<key>PVControlType</key>
						<string>PVButton</string>
						<key>PVControlTitle</key>
						<string>Z</string>
						<key>PVControlFrame</key>
						<string>{{144,8},{60,60}}</string>
					</dict>
				</array>
			</dict>
			<dict>
				<key>PVControlType</key>
				<string>PVDPad</string>
				<key>PVControlSize</key>
				<string>{180,180}</string>
			</dict>
			<dict>
				<key>PVControlType</key>
				<string>PVStartButton</string>
				<key>PVControlTitle</key>
				<string>Start</string>
				<key>PVControlSize</key>
				<string>{62,22}</string>
			</dict>
			<dict>
				<key>PVControlType</key>
				<string>PVSelectButton</string>
				<key>PVControlTitle</key>
				<string>Mode</string>
				<key>PVControlSize</key>
				<string>{62,22}</string>
			</dict>
		</array>
	</dict>
</array>
</plist>
