[Floppy]
bAutoInsertDiskB = TRUE
FastFloppy = TRUE
nWriteProtection = 0
szDiskAFileName =
szDiskBFileName =
szDiskImageDirectory =
szDiskAZipPath =
szDiskBZipPath =

[ROM]
szCartridgeImageFileName =
szTosImageFileName =

; Explicitly disable hard disk boot and ACSI to prevent --acsi "" crash
[HardDisk]
bBootFromHardDisk = FALSE
bUseHardDiskDirectories = FALSE
bUseHardDiskImage = FALSE
szHardDiskDirectory =
szHardDiskImage =

[ACSI]
nDeviceType_0 = 0
sDeviceFile_0 =
nDeviceType_1 = 0
sDeviceFile_1 =
nDeviceType_2 = 0
sDeviceFile_2 =
nDeviceType_3 = 0
sDeviceFile_3 =
nDeviceType_4 = 0
sDeviceFile_4 =
nDeviceType_5 = 0
sDeviceFile_5 =
nDeviceType_6 = 0
sDeviceFile_6 =
nDeviceType_7 = 0
sDeviceFile_7 =

[SCSI]
nDeviceType_0 = 0
sDeviceFile_0 =
nDeviceType_1 = 0
sDeviceFile_1 =
nDeviceType_2 = 0
sDeviceFile_2 =
nDeviceType_3 = 0
sDeviceFile_3 =
nDeviceType_4 = 0
sDeviceFile_4 =
nDeviceType_5 = 0
sDeviceFile_5 =
nDeviceType_6 = 0
sDeviceFile_6 =
nDeviceType_7 = 0
sDeviceFile_7 =

[IDE]
nDeviceType_0 = 0
sDeviceFile_0 =
nDeviceType_1 = 0
sDeviceFile_1 =