<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleExecutable</key>
	<string>${EXECUTABLE_NAME}</string>
	<key>CFBundleIconFile</key>
	<string>Yabause</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundlePackageType</key>
	<string>BNDL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>0.9.14</string>
	<key>NSPrincipalClass</key>
	<string>OEGameCoreController</string>
	<key>OEGameCoreClass</key>
	<string>YabauseGameCore</string>
	<key>OEGameCoreOptions</key>
	<dict>
		<key>openemu.system.saturn</key>
		<dict>
			<key>OEGameCoreHasGlitches</key>
			<true/>
			<key>OEGameCoreSaveStatesNotSupported</key>
			<true/>
		</dict>
	</dict>
	<key>OEGameCorePlayerCount</key>
	<string>2</string>
	<key>OEProjectURL</key>
	<string>http://yabause.org/</string>
	<key>OESystemIdentifiers</key>
	<array>
		<string>openemu.system.saturn</string>
	</array>
	<key>SUEnableAutomaticChecks</key>
	<string>1</string>
	<key>SUFeedURL</key>
	<string>https://raw.github.com/OpenEmu/OpenEmu-Update/master/yabause_appcast.xml</string>
</dict>
</plist>
