<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>PVCoreIdentifier</key>
	<string>com.provenance.core.gambatte</string>
	<key>PVPrincipleClass</key>
	<string>PVGBEmulatorCore</string>
	<key>PVSupportedSystems</key>
	<array>
		<string>com.provenance.gb</string>
		<string>com.provenance.gbc</string>
	</array>
	<key>PVProjectName</key>
	<string>Gambatte</string>
	<key>PVProjectURL</key>
	<string>https://github.com/sinamas/gambatte</string>
	<key>PVProjectVersion</key>
	<string>0.5.0</string>
</dict>
</plist>
