[submodule "platform/libpicofe"]
	path = platform/libpicofe
	url = https://github.com/irixxxx/libpicofe.git
[submodule "cpu/cyclone"]
	path = cpu/cyclone
	url = https://github.com/irixxxx/cyclone68000.git
[submodule "pico/sound/emu2413"]
	path = pico/sound/emu2413
	url = https://github.com/digital-sound-antiques/emu2413.git
	branch = main
[submodule "pico/cd/libchdr"]
	path = pico/cd/libchdr
	url = https://github.com/irixxxx/libchdr.git
[submodule "platform/common/dr_libs"]
	path = platform/common/dr_libs
	url = https://github.com/mackron/dr_libs.git
