*.o
*.swp
*.dll
*.lib
*.pdb
*.manifest
*.map
*.exp
*.dylib
*.so
*.a
tags
cscope.out
config.mak
config.log
cpu/musashi/m68kmake
cpu/musashi/m68kops.c
cpu/musashi/m68kops.h
skin
config.cfg
srm/
brm/
mds/
cfg/
libs/
obj/
.opk_data
.od_data
PicoDrive
picodrive
picodrive_libretro*
PicoDrive*.opk
PicoDrive*.ipk
PicoDrive*.zip
pico_int_offs.h
amalgamate
textfilter
