<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>PVCoreIdentifier</key>
	<string>com.provenance.core.mGBA</string>
	<key>PVPrincipleClass</key>
	<string>PVmGBACore.PVmGBACore</string>
	<key>PVSupportedSystems</key>
	<array>
		<string>com.provenance.gba</string>
	</array>
	<key>PVProjectName</key>
	<string>mGBA</string>
	<key>PVProjectURL</key>
	<string>https://mgba.io/</string>
	<key>PVProjectVersion</key>
	<string>0.10.3</string>
</dict>
</plist>
