<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>PVCoreIdentifier</key>
	<string>com.provenance.core.picodrive</string>
	<key>PVPrincipleClass</key>
	<string>PVPicoDrive.PVPicoDrive</string>
	<key>PVSupportedSystems</key>
	<array>
		<string>com.provenance.32X</string>
	</array>
	<key>PVProjectName</key>
	<string>PicoDrive</string>
	<key>PVProjectURL</key>
	<string>https://github.com/notaz/picodrive</string>
	<key>PVProjectVersion</key>
	<string>2.03</string>
	<key>PVSupportedCheatTypes</key>
	<array>
		<string>Game Genie</string>
		<string>Pro Action Replay</string>
	</array>
	<key>PVLicenseName</key>
	<string>LicenseRef-PicoDrive</string>
	<key>PVLicenseURL</key>
	<string>https://github.com/notaz/picodrive/blob/master/COPYING</string>
	<key>PVCopyright</key>
	<string>Copyright © 2007-2024 notaz</string>
</dict>
</plist>
