<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>PVCoreIdentifier</key>
	<string>com.provenance.core.stella</string>
	<key>PVPrincipleClass</key>
	<string>PVStellaGameCore</string>
	<key>PVSupportedSystems</key>
	<array>
		<string>com.provenance.2600</string>
	</array>
	<key>PVProjectName</key>
	<string>Stella</string>
	<key>PVProjectURL</key>
	<string>https://stella-emu.github.io</string>
	<key>PVProjectVersion</key>
	<string>3.4.1</string>
</dict>
</plist>
