//
//  BuildFlags.xcconfig
//  PVDesmume2015
//
//  Created by Joseph Mattiello on 11/1/18.
//
//

// All
GCC_PREPROCESSOR_DEFINITIONS = $(inherited) OBJ_C IOS __LIBRETRO__ USE_POSIX_MEMALIGN=1 HAVE_THREADS=1
// HAVE_JIT=1
// MAPPED_JIT_FUNCS=1 DESMUME_COCOA=1 PUBLIC_RELEASE=1
// HAVE_STATIC_CODE_BUFFER=1
OTHER_CFLAGS = $(inherited) -ObjC -ffast-math -ftree-vectorize -fno-strict-aliasing -fpermissive -fomit-frame-pointer
OTHER_LDFLAGS =  $(inherited) -ObjC -all_load

GCC_PREPROCESSOR_DEFINITIONS[arch=armv7] = $(inherited) __RETRO_ARM__
GCC_PREPROCESSOR_DEFINITIONS[arch=armv72] = $(inherited) __RETRO_ARM__
GCC_PREPROCESSOR_DEFINITIONS[arch=arm64] = $(inherited) __RETRO_ARM__ HOST_64=1
GCC_PREPROCESSOR_DEFINITIONS[arch=x86_64] = $(inherited) HOST_64=1

//OTHER_CFLAGS = $(inherited) -mno-thumb -mfpu=neon -fno-operator-names -fno-rtti -ffast-math -ftree-vectorize -fno-strict-aliasing -frename-registers -fno-rtti -fpermissive -fno-operator-names -fsingle-precision-constant

    // Device
GCC_PREPROCESSOR_DEFINITIONS[sdk=iphoneos*] = $(inherited) TARGET_IPHONE=1
//OTHER_CFLAGS[sdk=iphoneos*] = $(inherited) -fomit-frame-pointer

// Simulator
GCC_PREPROCESSOR_DEFINITIONS[sdk=iphonesimulator*] = $(inherited) TARGET_IPHONE_SIMULATOR=1

// tvOS Device
GCC_PREPROCESSOR_DEFINITIONS[sdk=appletvos*] = $(inherited) TARGET_IPHONE=1
//OTHER_CFLAGS[sdk=appletvos*] = $(inherited) -fomit-frame-pointer

// tvOS Simulator
GCC_PREPROCESSOR_DEFINITIONS[sdk=appletvsimulator*] = $(inherited) TARGET_IPHONE_SIMULATOR=1
