/src/mednafen*
!/src/mednafen*.*
*.o
*.o2
*.a
.Tpo
.deps
.dirstamp
/include/config.h.in~
/autom4te.cache
/Makefile
/config.log
/config.status
/include/config.h
/include/minilzo/
/include/stamp-h1
/include/trio/
/include/zstd/
/intl/Makefile
/po/Makefile
/po/Makefile.in
/po/POTFILES
/src/Makefile
/src/drivers/Makefile
/src/drivers_dos/Makefile
/src/drivers_libxxx/Makefile
/src/sexyal/Makefile
/src/ss/Makefile

