//
//  Config.xcconfig
//  PVDuckStation
//
//  Created by Joseph Mattiello on 8/28/21.
// 
//

GCC_PREPROCESSOR_DEFINITIONS = $(inherited) GL_SILENCE_DEPRECATION=1 SI_CONVERT_GENERIC WITH_RECOMPILER=1 WITH_VULKAN=1 WITH_OPENGL=1
// USE_EGL=1
// WITH_MMAP_FASTMEM=1
// WITH_CUBEB
// WITH_RECOMPILER=1  IPHONEOS=1

// Arm 32bit
EXCLUDED_SOURCE_FILE_NAMES[sdk=iphoneos*][arch=armv7] = $(inherited) cpu_recompiler_code_generator_x64.cpp cpu_recompiler_code_generator_aarch64.cpp *arch64.cpp *arch64.cc xxh_x86dispatch.c
EXCLUDED_SOURCE_FILE_NAMES[sdk=iphoneos*][arch=armv7s] = $(inherited) cpu_recompiler_code_generator_x64.cpp cpu_recompiler_code_generator_aarch64.cpp  *arch64.cpp *arch64.cc*arch64.cpp *arch64.cc xxh_x86dispatch.c
EXCLUDED_SOURCE_FILE_NAMES[sdk=iphoneos*][arch=armv6] = $(inherited) cpu_recompiler_code_generator_x64.cpp cpu_recompiler_code_generator_aarch64.cpp *arch64.cpp *arch64.cc xxh_x86dispatch.c
EXCLUDED_SOURCE_FILE_NAMES[arch=arm64] = $(inherited) cpu_recompiler_code_generator_x64.cpp cpu_recompiler_code_generator_aarch32.cpp *arch32.cpp *arch32.cc xxh_x86dispatch.c

EXCLUDED_SOURCE_FILE_NAMES[sdk=iphonesimulator*] = $(inherited) cpu_recompiler_code_generator_aarch32.cpp cpu_recompiler_code_generator_aarch64.cpp instrument-aarch64.cpp

// tv OS
OTHER_CFLAGS[sdk=appletvos*] = $(inherited) -DVIXL_INCLUDE_TARGET_A64
//OTHER_CFLAGS[sdk=appletvsimulator*] = $(inherited) -D_USE_CZ80

OTHER_CFLAGS[sdk=iphoneos*][arch=armv7] = $(inherited) -DVIXL_INCLUDE_TARGET_A32
OTHER_CFLAGS[sdk=iphoneos*][arch=armv7s] = $(inherited) -DVIXL_INCLUDE_TARGET_A32
OTHER_CFLAGS[sdk=iphoneos*][arch=armv6] = $(inherited) -DVIXL_INCLUDE_TARGET_A32
OTHER_CFLAGS[sdk=iphoneos*][arch=arm64] = $(inherited) -DVIXL_INCLUDE_TARGET_A64
PROJECT_TEMP_DIR = $(SRCROOT)/lib/duckstation/build/$(PROJECT_NAME).build
DERIVED_FILE_DIR = $(SRCROOT)/lib/duckstation/build/derived/$(PROJECT_NAME).build
