# Xcode
#
xcuserdata/
*.xccheckout

# AppCode
.idea/

# macOS
.DS_Store

# CocoaPods
#
# We recommend against adding the Pods directory to your .gitignore. However
# you should judge for yourself, the pros and cons are mentioned at:
# https://guides.cocoapods.org/using/using-cocoapods.html#should-i-ignore-the-pods-directory-in-source-control
Pods/

# Carthage
#
# Add this line if you want to avoid checking in source code from Carthage dependencies.
**/Carthage/Checkouts
**/Carthage/Build

# Swift Package Manager
.build/
