<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>PVCoreIdentifier</key>
	<string>com.provenance.core.picodrive</string>
	<key>PVPrincipleClass</key>
	<string>PicodriveGameCore</string>
	<key>PVSupportedSystems</key>
	<array>
		<string>com.provenance.32X</string>
	</array>
	<key>PVProjectName</key>
	<string>PicoDrive</string>
	<key>PVProjectURL</key>
	<string>https://github.com/notaz/picodrive</string>
	<key>PVProjectVersion</key>
	<string>1.91</string>
</dict>
</plist>
