<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>PVCoreIdentifier</key>
	<string>com.provenance.core.Fuse</string>
	<key>PVPrincipleClass</key>
	<string>PVFuse.PVFuseCore</string>
	<key>PVSupportedSystems</key>
	<array>
		<string>com.provenance.zxspectrum</string>
	</array>
	<key>PVProjectName</key>
	<string>Fuse</string>
	<key>PVProjectURL</key>
	<string>http://fuse-emulator.sourceforge.net</string>
	<key>PVProjectVersion</key>
	<string>0</string>
	<key>PVLicenseName</key>
	<string>GPL-2.0-or-later</string>
	<key>PVLicenseURL</key>
	<string>http://fuse-emulator.sourceforge.net</string>
	<key>PVCopyright</key>
	<string>Copyright © 1999-2024 Philip Kendall and Fuse Contributors</string>
</dict>
</plist>
