# PVUI BuildEnvPlugin config file
# See: https://github.com/DimaRU/BuildEnvironment

# Generated enum name. Default: BuildEnvironment
name: BuildEnvironment
# Generated enum access level.
# Must be one of: public, package, internal. Default: public
access: public
# Obfuscate data by encode: yes/no. Default: no
encode: no
    
# Environment variable list.
# Format: swift_variable_name=$environment_variable_name
userName= $USER
homeDir= $HOME
buildDir = $PROJECT_DIR
# This works with Xcode only:
config=$CONFIGURATION
