//
//  BuildFlags.xcconfig
//  PVMelonDS
//
//  Created by Joseph Mattiello on 11/1/18.
//
//

// All
GCC_PREPROCESSOR_DEFINITIONS = $(inherited) OBJ_C IOS USE_POSIX_MEMALIGN  USE_POSIX_MEMALIGN HAVE_WIFI JIT_ARCH=aarch64 HAVE_NEON=1 HAVE_THREADS=1 __LIBRETRO__ MELONDS_VERSION="" GIT_VERSION="" HAVE_OPENGLES=1 HAVE_OPENGLES2=1 HAVE_OPENGLES3=1 GLES=1 GLES2=1 GLES3=1 GLES31=1 JIT_ENABLED=1
// JIT_ENABLED=1 
OTHER_CFLAGS = $(inherited) -ObjC -ffast-math -ftree-vectorize -fno-strict-aliasing -fpermissive -fomit-frame-pointer -fPIC
OTHER_LDFLAGS =  $(inherited) -ObjC -all_load

GCC_PREPROCESSOR_DEFINITIONS[arch=armv7] = $(inherited) __RETRO_ARM__ ARCHITECTURE_ARM=1
GCC_PREPROCESSOR_DEFINITIONS[arch=armv72] = $(inherited) __RETRO_ARM__ ARCHITECTURE_ARM=1
GCC_PREPROCESSOR_DEFINITIONS[arch=arm64] = $(inherited) __RETRO_ARM__ ARCHITECTURE_ARM64=1
GCC_PREPROCESSOR_DEFINITIONS[arch=x86_64] = $(inherited) ARCHITECTURE_X64=1

GCC_PREPROCESSOR_DEFINITIONS[sdk=macos] = $(inherited) HAVE_OPENGL=1 OGLRENDERER_ENABLED=1 CORE=1

//OTHER_CFLAGS = $(inherited) -mno-thumb -mfpu=neon -fno-operator-names -fno-rtti -ffast-math -ftree-vectorize -fno-strict-aliasing -frename-registers -fno-rtti -fpermissive -fno-operator-names -fsingle-precision-constant

    // Device
GCC_PREPROCESSOR_DEFINITIONS[sdk=iphoneos*] = $(inherited) TARGET_IPHONE=1
//OTHER_CFLAGS[sdk=iphoneos*] = $(inherited) -fomit-frame-pointer

// Simulator
GCC_PREPROCESSOR_DEFINITIONS[sdk=iphonesimulator*] = $(inherited) TARGET_IPHONE_SIMULATOR=1
EXCLUDED_SOURCE_FILE_NAMES[sdk=iphonesimulator*][arch=*] = *
INCLUDED_SOURCE_FILE_NAMES[sdk=iphonesimulator*][arch=*] = PVDebug.c
// tvOS Device
GCC_PREPROCESSOR_DEFINITIONS[sdk=appletvos*] = $(inherited) TARGET_IPHONE=1
//OTHER_CFLAGS[sdk=appletvos*] = $(inherited) -fomit-frame-pointer

// tvOS Simulator
GCC_PREPROCESSOR_DEFINITIONS[sdk=appletvsimulator*] = $(inherited) TARGET_IPHONE_SIMULATOR=1
EXCLUDED_SOURCE_FILE_NAMES[sdk=appletvsimulator*][arch=*] = *
INCLUDED_SOURCE_FILE_NAMES[sdk=appletvsimulator*][arch=*] = PVDebug.c
//
//ifdef JIT_ARCH
//SOURCES_CXX += $(MELON_DIR)/ARMJIT.cpp \
//                $(MELON_DIR)/ARMJIT_Memory.cpp \
//                $(MELON_DIR)/ARM_InstrInfo.cpp \
//                $(MELON_DIR)/dolphin/CommonFuncs.cpp
//
//DEFINES += -DJIT_ENABLED
//endif
//ifeq ($(JIT_ARCH), aarch64)
//SOURCES_CXX += $(MELON_DIR)/dolphin/Arm64Emitter.cpp \
//                $(MELON_DIR)/dolphin/MathUtil.cpp \
//                $(MELON_DIR)/ARMJIT_A64/ARMJIT_Compiler.cpp \
//                $(MELON_DIR)/ARMJIT_A64/ARMJIT_ALU.cpp \
//                $(MELON_DIR)/ARMJIT_A64/ARMJIT_LoadStore.cpp \
//                $(MELON_DIR)/ARMJIT_A64/ARMJIT_Branch.cpp
//SOURCES_S += $(MELON_DIR)/ARMJIT_A64/ARMJIT_Linkage.S
//INCFLAGS += -I$(MELON_DIR)/ARMJIT_A64/
//
//DEFINES += -DARCHITECTURE_ARM64
//endif
//
//ifeq ($(JIT_ARCH), x64)
//SOURCES_CXX += $(MELON_DIR)/dolphin/x64ABI.cpp \
//                $(MELON_DIR)/dolphin/x64CPUDetect.cpp \
//                $(MELON_DIR)/dolphin/x64Emitter.cpp \
//                $(MELON_DIR)/ARMJIT_x64/ARMJIT_ALU.cpp \
//                $(MELON_DIR)/ARMJIT_x64/ARMJIT_Branch.cpp \
//                $(MELON_DIR)/ARMJIT_x64/ARMJIT_Compiler.cpp \
//                $(MELON_DIR)/ARMJIT_x64/ARMJIT_LoadStore.cpp
//SOURCES_S += $(MELON_DIR)/ARMJIT_x64/ARMJIT_Linkage.S
//INCFLAGS += -I$(MELON_DIR)/ARMJIT_x64/
//
//DEFINES += -DARCHITECTURE_X64
//endif
