<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>PVCoreIdentifier</key>
	<string>com.provenance.core.play</string>
	<key>PVPrincipleClass</key>
	<string>PVPlay.PVPlayCore</string>
	<key>PVSupportedSystems</key>
	<array>
		<string>com.provenance.ps2</string>
	</array>
	<key>PVProjectName</key>
	<string>Play!</string>
	<key>PVProjectURL</key>
	<string>https://github.com/jpd002/Play-</string>
	<key>PVProjectVersion</key>
	<string>0.58</string>
	<key>PVSupportedCheatTypes</key>
	<array>
		<string>Code Breaker</string>
		<string>Game Shark V3</string>
		<string>Pro Action Replay V1</string>
		<string>Pro Action Replay V2</string>
		<string>Raw MemAddress:Value Pairs</string>
	</array>
</dict>
</plist>
