[Floppy]
bAutoInsertDiskB = TRUE
FastFloppy = TRUE
nWriteProtection = 0
szDiskAFileName =
szDiskBFileName =
szDiskImageDirectory = ~/Documents/ROMs/com.provenance.atarist/
szDiskAZipPath =
szDiskBZipPath =

[ROM]
szCartridgeImageFileName =
szTosImageFileName = tos.img

[Log]
sLogFileName = stderr
sTraceFileName = stderr
nExceptionDebugMask = 259
nTextLogLevel = 4
nAlertDlgLogLevel = 1
bConfirmQuit = FALSE
bNatFeats = FALSE
bConsoleWindow = FALSE

[System]
nCpuLevel = 2
nCpuFreq = 8
bCompatibleCpu = FALSE
; Machine types: 0=ST, 1=STE, 2=TT, 3=Falcon, 4=MegaST, 5=MegaSTE
nMachineType = 0
bBlitter = TRUE
nDSPType = 0
bRealTimeClock = FALSE
bPatchTimerD = TRUE
bFastBoot = FALSE
bFastForward = FALSE

[Screen]
bFullScreen = FALSE
nFrameSkips = 0
bShowStatusbar = FALSE
bShowDriveLed = FALSE
bAspectRatio = TRUE
nMonitorType = 0
bOverscan = FALSE
nSpec512Threshold = 4
bForceMax = FALSE
nMaxWidth = 800
nMaxHeight = 600
bAspectCorrect = TRUE
bUseExtVdiResolutions = FALSE
bAllowOverscan = TRUE
nVdiColors = 16
nVdiWidth = 640
nVdiHeight = 480
nVdiPlanes = 4

[Video]
bUseExtVdiResolutions = FALSE
nVdiColors = 16
nVdiWidth = 640
nVdiHeight = 480
nVdiPlanes = 4
