//
//  BuildFlags.xcconfig
//  PVDolphin
//
//  Created by Joseph Mattiello on 11/1/18.
//
//

// All
GCC_PREPROCESSOR_DEFINITIONS = $(inherited) GLES_SILENCE_DEPRECATIONS=1
OTHER_CFLAGS = $(inherited) -fno-operator-names -fno-rtti -ffast-math -ftree-vectorize -fno-strict-aliasing -frename-registers -fno-rtti -fpermissive -fsingle-precision-constant -DTARGET_NO_NIXPROF
// -DUSE_MEMORYWATCHER=1
OTHER_LDFLAGS = $(inherited) -ObjC -l"c++" -l"z" -DIPHONEOS
//-l"nanopb" -l"PromisesObjC"

// Device
GCC_PREPROCESSOR_DEFINITIONS[sdk=iphoneos*] = $(inherited) TARGET_IPHONE=1
OTHER_CFLAGS[sdk=iphoneos*] = $(inherited)

// Simulator
GCC_PREPROCESSOR_DEFINITIONS[sdk=iphonesimulator*] = $(inherited) TARGET_IPHONE_SIMULATOR=1
EXCLUDED_SOURCE_FILE_NAMES[sdk=iphonesimulator*] = *
INCLUDED_SOURCE_FILE_NAMES[sdk=iphonesimulator*] = PVDebug.c

// tvOS Device
GCC_PREPROCESSOR_DEFINITIONS[sdk=appletvos*] = $(inherited) TARGET_IPHONE=1
//EXCLUDED_SOURCE_FILE_NAMES[sdk=appletvos*][arch=*] = *
//INCLUDED_SOURCE_FILE_NAMES[sdk=appletvos*][arch=*] = PVDebug.c

// tvOS Simulator
GCC_PREPROCESSOR_DEFINITIONS[sdk=appletvsimulator*] = $(inherited) TARGET_IPHONE_SIMULATOR=1
EXCLUDED_SOURCE_FILE_NAMES[sdk=appletvsimulator*][arch=*] = *
INCLUDED_SOURCE_FILE_NAMES[sdk=appletvsimulator*][arch=*] = PVDebug.c

//Kept in same TARGET_BUILD_DIR as others
//BUILD_DIR = $(SRCROOT)/lib
OBJROOT = $(SRCROOT)/lib/dolphin-emu
SYMROOT = $(SRCROOT)/lib/dolphin-emu
PROJECT_TEMP_DIR = $(SRCROOT)/lib/dolphin-emu/build/$(PROJECT_NAME).build
