//
//  BuildFlags.xcconfig
//  PVFlycast
//
//  Created by Joseph Mattiello on 11/1/18.
//
//

// All
GCC_PREPROCESSOR_DEFINITIONS = $(inherited) REICAST_VERSION=15.0 GLES=1 GLES3=1 GLES_SILENCE_DEPRECATION=1 HAVE_OPENGLES=1 LIBRETRO=1 TARGET_IPHONE=1 HAVE_OPENGLES3=1 _7ZIP_ST=1 BUILD_DATE=1 NDEBUG=1 IOS=1 USE_OPENGL=1 __LIBRETRO__ _USE_MATH_DEFINES _CRT_SECURE_NO_WARNINGS _CRT_NONSTDC_NO_WARNINGS TARGET_IPHONE MINIUPNP_STATICLIB NOMINMAX  GIT_HASH="1" GL_APIENTRYP=GL_APIENTRY*  GIT_VERSION=\"undefined\" TARGET_NO_EXCEPTIONS=1 _OPENMP=202301 USE_OPENMP=1
// TARGET_NO_OPENMP=1 FEAT_NO_MINIUPNPC="1" TARGET_NO_WEBUI=1
// TARGET_NO_REC=1
// USE_VULKAN=1 HAVE_VULKAN=1
// FEAT_NO_RWX_PAGES=1
// TARGET_NO_REC / TARGET_NO_AREC / TARGET_NO_JIT
// TARGET_ARM_MAC=1
// NO_ASM=1


OTHER_CFLAGS = $(inherited)
//-Xclang -fopenmp -fobjc-arc -fmodules -fno-strict-aliasing -fomit-frame-pointer
//-mno-thumb -mfpu=neon -fno-operator-names -fno-rtti -ffast-math -ftree-vectorize -fno-strict-aliasing -frename-registers -fno-rtti -fpermissive -fno-operator-names -fsingle-precision-constant
OTHER_LDFLAGS = $(inherited)
// -ObjC -Wl,-all_load -all_load

    // Device
GCC_PREPROCESSOR_DEFINITIONS[sdk=iphoneos*] = $(inherited) TARGET_IPHONE=1
OTHER_CFLAGS[sdk=iphoneos*] = $(inherited) -fomit-frame-pointer

// Simulator
GCC_PREPROCESSOR_DEFINITIONS[sdk=iphonesimulator*] = $(inherited) TARGET_IPHONE_SIMULATOR=1
//GCC_PREPROCESSOR_DEFINITIONS[sdk=iphonesimulator*][arch=x86_64] = $(inherited) TARGET_NO_REC=1

EXCLUDED_SOURCE_FILE_NAMES[sdk=iphonesimulator*] = *
INCLUDED_SOURCE_FILE_NAMES[sdk=iphonesimulator*] = PVDebug.m

// tvOS Device
GCC_PREPROCESSOR_DEFINITIONS[sdk=appletvos*] = $(inherited) TARGET_IPHONE=1
OTHER_CFLAGS[sdk=appletvos*] = $(inherited) -fomit-frame-pointer

// tvOS Simulator
GCC_PREPROCESSOR_DEFINITIONS[sdk=appletvsimulator*] = $(inherited) TARGET_IPHONE_SIMULATOR=1
EXCLUDED_SOURCE_FILE_NAMES[sdk=appletvsimulator*][arch=*] = *
INCLUDED_SOURCE_FILE_NAMES[sdk=appletvsimulator*][arch=*] = PVDebug.m
