ENV["SLACK_URL"] = ""
ENV["GITHUB_API_TOKEN"] = ""
ENV["CRASHLYTICS_API_TOKEN"] = ""
ENV["CRASHLYTICS_BUILD_SECRET"] = ""
ENV["APPLE_ID"] = ""
ENV["SIGH_USERNAME"] = ENV["APPLE_ID"]
ENV["PILOT_APPLE_ID"] = ENV["APPLE_ID"]
ENV["DELIVER_USERNAME"] = ENV["APPLE_ID"]

