//
//  Config.xcconfig
//  PVGenesis
//
//  Created by Joseph Mattiello on 10/13/24.
//  Copyright © 2024 Provenance EMU. All rights reserved.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974

GCC_PREPROCESSOR_DEFINITIONS = $(inherited) NS_BLOCK_ASSERTIONS=1 LSB_FIRST HAVE_ZLIB USE_32BPP_RENDERING __LIBRETRO__ HAVE_OVERCLOCK HAVE_OPLL_CORE HAVE_YM3438_CORE INLINE="static inline" Z80_OVERCLOCK_SHIFT=20 M68K_OVERCLOCK_SHIFT=20
GCC_PREPROCESSOR_DEFINITIONS[config=Archive] = NDEBUG=1 $(inherited)
GCC_PREPROCESSOR_DEFINITIONS[config=Debug] = DEBUG=1 $(inherited)
GCC_PREPROCESSOR_DEFINITIONS[config=Release] = NDEBUG=1 $(inherited)
