//
//  Config.xcconfig
//  PVGenesis
//
//  Created by Joseph Mattiello on 10/13/24.
//  Copyright © 2024 Provenance EMU. All rights reserved.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974

GCC_PREPROCESSOR_DEFINITIONS = $(inherited) NS_BLOCK_ASSERTIONS=1
GCC_PREPROCESSOR_DEFINITIONS = $(inherited) LSB_FIRST
GCC_PREPROCESSOR_DEFINITIONS = $(inherited) HAVE_ZLIB
//GCC_PREPROCESSOR_DEFINITIONS = $(inherited) USE_16BPP_RENDERING
GCC_PREPROCESSOR_DEFINITIONS = $(inherited) USE_32BPP_RENDERING
GCC_PREPROCESSOR_DEFINITIONS = $(inherited) __LIBRETRO__
GCC_PREPROCESSOR_DEFINITIONS = $(inherited) HAVE_OVERCLOCK
GCC_PREPROCESSOR_DEFINITIONS = $(inherited) HAVE_OPLL_CORE
GCC_PREPROCESSOR_DEFINITIONS = $(inherited) HAVE_YM3438_CORE
GCC_PREPROCESSOR_DEFINITIONS = $(inherited) INLINE="static inline"
GCC_PREPROCESSOR_DEFINITIONS = $(inherited) Z80_OVERCLOCK_SHIFT=20
GCC_PREPROCESSOR_DEFINITIONS = $(inherited) M68K_OVERCLOCK_SHIFT=20
//GCC_PREPROCESSOR_DEFINITIONS = $(inherited) FRONTEND_SUPPORTS_RGB565=1

GCC_PREPROCESSOR_DEFINITIONS[config=Archive] = NDEBUG=1 $(inherited)
GCC_PREPROCESSOR_DEFINITIONS[config=Debug] = DEBUG=1 $(inherited)
GCC_PREPROCESSOR_DEFINITIONS[config=Release] = NDEBUG=1 $(inherited)
