<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>PVCoreIdentifier</key>
	<string>com.provenance.core.mupen64plus</string>
	<key>PVPrincipleClass</key>
	<string>PVMupen64Plus.MupenGameCore</string>
	<key>PVSupportedSystems</key>
	<array>
		<string>com.provenance.n64</string>
	</array>
	<key>PVProjectName</key>
	<string>Mupen64Plus</string>
	<key>PVProjectURL</key>
	<string>https://github.com/mupen64plus</string>
	<key>PVProjectVersion</key>
	<string>2.5</string>
	<key>PVSupportedCheatTypes</key>
	<array>
		<string>Game Shark</string>
	</array>
	<key>PVJITRequirement</key>
	<string>optional</string>
	<key>PVLicenseName</key>
	<string>GPL-2.0-or-later</string>
	<key>PVLicenseURL</key>
	<string>https://github.com/mupen64plus/mupen64plus-core/blob/HEAD/COPYING</string>
	<key>PVCopyright</key>
	<string>Copyright © 2007-2024 Mupen64Plus Team</string>
</dict>
</plist>
