//
//  Config.xcconfig
//  PVMupen64Plus
//
//  Created by Joseph Mattiello on 9/22/21.
//
//

// All
GCC_PREPROCESSOR_DEFINITIONS[arch=*] = $(inherited) MUPENPLUSAPI=1 TXFILTER_LIB=1 GL_SILENCE_DEPRECATION=1 __unix__ VFP_HARD=1 MUPENPLUSAPI=1 TXFILTER_LIB=1 M64P_PLUGIN_PROTOTYPES=1 PROVENANCE=1 NO_ASM=1

OTHER_CFLAGS[arch=*] = $(inherited) -DGCC -pthread

//-DNO_ASM

//GCC_PREPROCESSOR_DEFINITIONS[arch=arm64] = $(inherited) NEW_DYNAREC=3 DYNAREC=3
//GCC_PREPROCESSOR_DEFINITIONS[arch=armv7s] = $(inherited) NEW_DYNAREC=3
//GCC_PREPROCESSOR_DEFINITIONS[arch=armv7] = $(inherited) NEW_DYNAREC=3
GCC_PREPROCESSOR_DEFINITIONS[arch=x86_64] = $(inherited)
//GCC_PREPROCESSOR_DEFINITIONS[arch=x86_64] = $(inherited) NEW_DYNAREC=2 NO_ASM=0

// MacOS Catalyst
GCC_PREPROCESSOR_DEFINITIONS[sdk=macosx*] = $(inherited) OS_MAC_OS_X=1 SDL_VIDEO_OPENGL=1
OTHER_CFLAGS[sdk=macosx*] = $(inherited) -fno-strict-aliasing -fvisibility=hidden -DGCC -pthread -fPIC -D__unix__ -D__VEC4_OPT -D__NEON_OPT -DX86_ASM
EXCLUDED_SOURCE_FILE_NAMES[sdk=macosx*] = $(inherited) 3DMathNeon.cpp gSPNeon.cpp RSP_LoadMatrixNeon.cpp CRC_OPT_NEON.cpp

// iPhone
GCC_PREPROCESSOR_DEFINITIONS[sdk=iphoneos*] = $(inherited) OS_IOS GLESX USE_GLES=1 NEON=1 SDL_VIDEO_OPENGL_ES2=1
OTHER_CFLAGS[sdk=iphoneos*] = $(inherited) -DOS_IOS -mfpu=neon -D__VEC4_OPT -D__NEON_OPT

// Simulator
GCC_PREPROCESSOR_DEFINITIONS[sdk=iphonesimulator*] = $(inherited) OS_IOS GLESX USE_GLES=1 NEON=1 SDL_VIDEO_OPENGL_ES2=1
OTHER_CFLAGS[sdk=iphonesimulator*] = $(inherited) -DOS_IOS

// tvOS Device
GCC_PREPROCESSOR_DEFINITIONS[sdk=appletvos*] = $(inherited) OS_IOS GLESX USE_GLES=1 NEON=1 SDL_VIDEO_OPENGL_ES2=1
OTHER_CFLAGS[sdk=appletvos*] = $(inherited) -DOS_IOS -mfpu=neon  -D__VEC4_OPT -D__NEON_OPT
EXCLUDED_SOURCE_FILE_NAMES[sdk=appletvos*] = $(inherited) 3DMath.cpp  RSP_LoadMatrix.cpp CRC_OPT.cpp
// gSPNeon.cpp

// tvOS Simulator
GCC_PREPROCESSOR_DEFINITIONS[sdk=appletvsimulator*] = $(inherited) OS_IOS GLESX USE_GLES=1 NEON=1 SDL_VIDEO_OPENGL_ES2=1
OTHER_CFLAGS[sdk=appletvsimulator*] = $(inherited) -DOS_IOS 
EXCLUDED_SOURCE_FILE_NAMES[sdk=appletvsimulator*][arch=*] = *
INCLUDED_SOURCE_FILE_NAMES[sdk=appletvsimulator*][arch=*] = PVDebug.c
