<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>PVCoreIdentifier</key>
	<string>com.provenance.core.mupen64plus</string>
	<key>PVPrincipleClass</key>
	<string>MupenGameCore</string>
	<key>PVSupportedSystems</key>
	<array>
		<string>com.provenance.n64</string>
	</array>
	<key>PVProjectName</key>
	<string>Mupen64Plus</string>
	<key>PVProjectURL</key>
	<string>https://github.com/mupen64plus</string>
	<key>PVProjectVersion</key>
	<string>2.5</string>
</dict>
</plist>
