<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>$(APP_DISPLAY_NAME)</string>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeIconFiles</key>
			<array/>
			<key>CFBundleTypeName</key>
			<string>ROM</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.provenance.rom</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeIconFiles</key>
			<array/>
			<key>CFBundleTypeName</key>
			<string>Save State</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.provenance.savestate</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeIconFiles</key>
			<array/>
			<key>CFBundleTypeName</key>
			<string>Artwork</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>public.image</string>
				<string>public.png</string>
				<string>public.jpeg</string>
			</array>
		</dict>
	</array>
	<key>CFBundleExecutable</key>
	<string>${EXECUTABLE_NAME}</string>
	<key>CFBundleIcons</key>
	<dict/>
	<key>CFBundleIcons~ipad</key>
	<dict/>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>${PRODUCT_NAME}</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.5</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>CFBundleURLIconFile</key>
			<string>URLIcon-83.5@2x</string>
			<key>CFBundleURLName</key>
			<string>com.provenance-emu.provenance</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>provenance</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>823</string>
	<key>GitBranch</key>
	<string></string>
	<key>GitDate</key>
	<string></string>
	<key>GitTag</key>
	<string></string>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>provenance</string>
	</array>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>LSSupportsOpeningDocumentsInPlace</key>
	<true/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
	<key>NSCameraUsageDescription</key>
	<string>Used for album artwork</string>
	<key>NSPhotoLibraryAddUsageDescription</key>
	<string>Provenance can set custom artworks from your photos or save screenshots to your photos library.</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>Provenance can set custom artworks from your photos or save screenshots to your photos library.</string>
	<key>NSUserActivityTypes</key>
	<array>
		<string>com.provenance-emu.webserver</string>
		<string>com.provenance-emu.game.play</string>
	</array>
	<key>Revision</key>
	<string>78dc628</string>
	<key>UIFileSharingEnabled</key>
	<true/>
	<key>UILaunchStoryboardName</key>
	<string>Default</string>
	<key>UIMainStoryboardFile</key>
	<string>Provenance</string>
	<key>UIPrerenderedIcon</key>
	<true/>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UIStatusBarHidden</key>
	<false/>
	<key>UIStatusBarStyle</key>
	<string>UIStatusBarStyleLightContent</string>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
	</array>
	<key>UISupportsDocumentBrowser</key>
	<true/>
	<key>UTExportedTypeDeclarations</key>
	<array>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.data</string>
			</array>
			<key>UTTypeDescription</key>
			<string>ROM file</string>
			<key>UTTypeIconFiles</key>
			<array/>
			<key>UTTypeIdentifier</key>
			<string>com.provenance.rom</string>
			<key>UTTypeReferenceURL</key>
			<string>http://www.provenance-emu.org/</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>ROM</string>
					<string>rom</string>
					<string>cue</string>
					<string>bin</string>
					<string>a78</string>
					<string>a26</string>
					<string>a52</string>
					<string>sms</string>
					<string>smc</string>
					<string>fig</string>
					<string>sfc</string>
					<string>gb</string>
					<string>gbc</string>
					<string>sgb</string>
					<string>gba</string>
					<string>nes</string>
					<string>fds</string>
					<string>lnx</string>
					<string>ngp</string>
					<string>ngc</string>
					<string>ngpc</string>
					<string>npc</string>
					<string>pce</string>
					<string>ws</string>
					<string>wsc</string>
					<string>vb</string>
					<string>n64</string>
					<string>z64</string>
					<string>gen</string>
					<string>md</string>
					<string>gg</string>
					<string>smd</string>
					<string>32x</string>
					<string>32X</string>
					<string>min</string>
					<string>7z</string>
					<string>cdi</string>
					<string>gdi</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTITagTypeSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>svs</string>
				</array>
			</dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.data</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Save State</string>
			<key>UTTypeIconFiles</key>
			<array/>
			<key>UTTypeIdentifier</key>
			<string>com.provenance.savestate</string>
		</dict>
		<dict/>
	</array>
	<key>UTImportedTypeDeclarations</key>
	<array>
		<dict>
			<key>UTITagTypeSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>ROM</string>
					<string>rom</string>
					<string>cue</string>
					<string>bin</string>
					<string>a78</string>
					<string>a26</string>
					<string>a52</string>
					<string>sms</string>
					<string>smc</string>
					<string>fig</string>
					<string>sfc</string>
					<string>gb</string>
					<string>gbc</string>
					<string>sgb</string>
					<string>gba</string>
					<string>nes</string>
					<string>fds</string>
					<string>lnx</string>
					<string>ngp</string>
					<string>ngc</string>
					<string>ngpc</string>
					<string>npc</string>
					<string>pce</string>
					<string>ws</string>
					<string>wsc</string>
					<string>vb</string>
					<string>n64</string>
					<string>z64</string>
					<string>gen</string>
					<string>md</string>
					<string>gg</string>
					<string>smd</string>
					<string>32x</string>
					<string>32X</string>
					<string>min</string>
					<string>7z</string>
					<string>cdi</string>
					<string>gdi</string>
				</array>
			</dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.data</string>
			</array>
			<key>UTTypeDescription</key>
			<string>ROM file</string>
			<key>UTTypeIconFiles</key>
			<array/>
			<key>UTTypeIdentifier</key>
			<string>com.provenance.rom</string>
		</dict>
		<dict>
			<key>UTITagTypeSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>jpg</string>
					<string>png</string>
				</array>
			</dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.image</string>
				<string>public.png</string>
				<string>public.jpeg</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Artwork</string>
			<key>UTTypeIconFiles</key>
			<array/>
			<key>UTTypeIdentifier</key>
			<string>com.provenance.artwork</string>
		</dict>
		<dict>
			<key>UTITagTypeSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>svs</string>
				</array>
			</dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.data</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Save State</string>
			<key>UTTypeIconFiles</key>
			<array/>
			<key>UTTypeIdentifier</key>
			<string>com.provenance.savestate</string>
		</dict>
	</array>
</dict>
</plist>
