<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ALTDeviceID</key>
	<string></string>
	<key>APP_GROUP_IDENTIFIER</key>
	<string>$(APP_GROUP_IDENTIFIER)</string>
	<key>CFBundleAllowMixedLocalizations</key>
	<true/>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeIconFiles</key>
			<array/>
			<key>CFBundleTypeName</key>
			<string>ROM</string>
			<key>LSHandlerRank</key>
			<string>Default</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.provenance.rom</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeIconFiles</key>
			<array/>
			<key>CFBundleTypeName</key>
			<string>Save State</string>
			<key>LSHandlerRank</key>
			<string>Owner</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.provenance.savestate</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleTypeIconFiles</key>
			<array/>
			<key>CFBundleTypeName</key>
			<string>Artwork</string>
			<key>LSHandlerRank</key>
			<string>None</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>public.image</string>
				<string>public.png</string>
				<string>public.jpeg</string>
			</array>
		</dict>
	</array>
	<key>CFBundleExecutable</key>
	<string>${EXECUTABLE_NAME}</string>
	<key>CFBundleGetInfoString</key>
	<string></string>
	<key>CFBundleIcons</key>
	<dict/>
	<key>CFBundleIcons~ipad</key>
	<dict/>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleLocalizations</key>
	<array>
		<string>Spanish</string>
		<string>zh_TW</string>
		<string>it</string>
		<string>ja</string>
		<string>en</string>
		<string>zh_CN</string>
	</array>
	<key>CFBundleName</key>
	<string>${PRODUCT_NAME}</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(MARKETING_VERSION)</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>CFBundleURLIconFile</key>
			<string>URLIcon-83.5@2x</string>
			<key>CFBundleURLName</key>
			<string>org.provenance-emu.provenance</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>provenance</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>$(CURRENT_PROJECT_VERSION)</string>
	<key>GCSupportedGameControllers</key>
	<array>
		<dict>
			<key>ProfileName</key>
			<string>ExtendedGamepad</string>
		</dict>
		<dict>
			<key>ProfileName</key>
			<string>DirectionalGamepad</string>
		</dict>
		<dict>
			<key>ProfileName</key>
			<string>MicroGamepad</string>
		</dict>
	</array>
	<key>GCSupportsControllerUserInteraction</key>
	<true/>
	<key>GitBranch</key>
	<string></string>
	<key>GitDate</key>
	<string></string>
	<key>GitTag</key>
	<string></string>
	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>
	<key>LSApplicationCategoryType</key>
	<string>public.app-category.games</string>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>provenance</string>
	</array>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>LSSupportsOpeningDocumentsInPlace</key>
	<true/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
		<key>NSExceptionDomains</key>
		<dict>
			<key>127.0.0.1</key>
			<dict>
				<key>NSExceptionAllowsInsecureHTTPLoads</key>
				<true/>
				<key>NSIncludesSubdomains</key>
				<true/>
			</dict>
			<key>69.69.0.1</key>
			<dict>
				<key>NSExceptionAllowsInsecureHTTPLoads</key>
				<true/>
				<key>NSIncludesSubdomains</key>
				<true/>
			</dict>
			<key>gamefaqs.gamespot.com</key>
			<dict>
				<key>NSExceptionAllowsInsecureHTTPLoads</key>
				<true/>
				<key>NSIncludesSubdomains</key>
				<true/>
			</dict>
			<key>gamespot.com</key>
			<dict>
				<key>NSExceptionAllowsInsecureHTTPLoads</key>
				<true/>
				<key>NSIncludesSubdomains</key>
				<true/>
			</dict>
			<key>github.com</key>
			<dict>
				<key>NSExceptionAllowsInsecureHTTPLoads</key>
				<true/>
				<key>NSIncludesSubdomains</key>
				<true/>
			</dict>
			<key>localhost</key>
			<dict>
				<key>NSExceptionAllowsInsecureHTTPLoads</key>
				<true/>
				<key>NSIncludesSubdomains</key>
				<true/>
			</dict>
			<key>provenance-emu.com</key>
			<dict>
				<key>NSExceptionAllowsInsecureHTTPLoads</key>
				<true/>
				<key>NSIncludesSubdomains</key>
				<true/>
			</dict>
			<key>wiki.provenance-emu.com</key>
			<dict>
				<key>NSExceptionAllowsInsecureHTTPLoads</key>
				<true/>
				<key>NSIncludesSubdomains</key>
				<true/>
			</dict>
		</dict>
	</dict>
	<key>NSBluetoothAlwaysUsageDescription</key>
	<string>Provenance uses Bluetooth to support game controllers.</string>
	<key>NSBonjourServices</key>
	<array>
		<string>_altserver._tcp</string>
		<string>_http._tcp</string>
		<string>_webdav._tcp</string>
	</array>
	<key>NSCameraUsageDescription</key>
	<string>Used for album artwork.</string>
	<key>NSExtensionFileProviderSupportsEnumeration</key>
	<true/>
	<key>NSFileProviderDomainUsageDescription</key>
	<string>Provenance uses file provider for loading ROMs.</string>
	<key>NSLocalNetworkUsageDescription</key>
	<string>Provenance uses the local network to find and communicate with AltServer.</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>Provenance uses the microphone for systems that support audio input (eg. Famicom).</string>
	<key>NSPhotoLibraryAddUsageDescription</key>
	<string>Provenance can set custom artworks from your photos or save screenshots to the Photo Library.</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>Provenance can set custom artworks from your photos or save screenshots to the Photo Library.</string>
	<key>NSSupportsPurgeableLocalStorage</key>
	<true/>
	<key>NSUbiquitousContainers</key>
	<dict>
		<key>iCloud.org.provenance-emu.provenance</key>
		<dict>
			<key>NSUbiquitousContainerIsDocumentScopePublic</key>
			<true/>
			<key>NSUbiquitousContainerName</key>
			<string>Provenance</string>
			<key>NSUbiquitousContainerSupportedFolderLevels</key>
			<string>Any</string>
		</dict>
	</dict>
	<key>NSUserActivityTypes</key>
	<array>
		<string>org.provenance-emu.game.play</string>
		<string>org.provenance-emu.webserver</string>
	</array>
	<key>Revision</key>
	<string>78dc628</string>
	<key>UIBackgroundModes</key>
	<array>
		<string>audio</string>
		<string>bluetooth-central</string>
		<string>external-accessory</string>
		<string>fetch</string>
		<string>location</string>
		<string>nearby-interaction</string>
		<string>processing</string>
		<string>remote-notification</string>
	</array>
	<key>UIFileSharingEnabled</key>
	<true/>
	<key>UILaunchStoryboardName</key>
	<dict>
		<key>UIDefaultLaunchScreen</key>
		<string></string>
		<key>UILaunchScreenDefinitions</key>
		<array>
			<dict>
				<key>UIImageName</key>
				<string></string>
				<key>UILaunchScreenIdentifier</key>
				<string></string>
			</dict>
		</array>
		<key>UIURLToLaunchScreenAssociations</key>
		<dict/>
	</dict>
	<key>UIPrerenderedIcon</key>
	<true/>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>metal</string>
		<string>arm64</string>
	</array>
	<key>UIStatusBarHidden</key>
	<true/>
	<key>UIStatusBarStyle</key>
	<string>UIStatusBarStyleLightContent</string>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
	</array>
	<key>UISupportsDocumentBrowser</key>
	<true/>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<true/>
	<key>UTExportedTypeDeclarations</key>
	<array>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.data</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Save State</string>
			<key>UTTypeIconFiles</key>
			<array/>
			<key>UTTypeIdentifier</key>
			<string>com.provenance.savestate</string>
			<key>UTTypeReferenceURL</key>
			<string>https://provenance-emu.com/</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>svs</string>
				</array>
				<key>public.mime-type</key>
				<array>
					<string>com.provenance.savestate</string>
				</array>
			</dict>
			<key>public.filename-extension</key>
			<array>
				<string>svs</string>
			</array>
		</dict>
	</array>
	<key>UTImportedTypeDeclarations</key>
	<array>
		<dict>
			<key>UTITagTypeSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>ROM</string>
					<string>col</string>
					<string>rom</string>
					<string>msx</string>
					<string>cue</string>
					<string>bin</string>
					<string>a78</string>
					<string>a26</string>
					<string>a52</string>
					<string>sms</string>
					<string>smc</string>
					<string>sfc</string>
					<string>fig</string>
					<string>sfc</string>
					<string>gb</string>
					<string>gbc</string>
					<string>sgb</string>
					<string>gba</string>
					<string>nes</string>
					<string>fds</string>
					<string>lnx</string>
					<string>ngp</string>
					<string>ngc</string>
					<string>ngpc</string>
					<string>npc</string>
					<string>pce</string>
					<string>ws</string>
					<string>wsc</string>
					<string>vb</string>
					<string>n64</string>
					<string>z64</string>
					<string>gen</string>
					<string>md</string>
					<string>gg</string>
					<string>smd</string>
					<string>32x</string>
					<string>32X</string>
					<string>min</string>
					<string>7z</string>
					<string>cdi</string>
					<string>gdi</string>
					<string>bios</string>
					<string>z80</string>
					<string>tzx</string>
					<string>rar</string>
					<string>chd</string>
					<string>rvz</string>
				</array>
			</dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.data</string>
			</array>
			<key>UTTypeDescription</key>
			<string>ROM file</string>
			<key>UTTypeIconFiles</key>
			<array/>
			<key>UTTypeIdentifier</key>
			<string>com.provenance.rom</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>ROM</string>
					<string>rom</string>
					<string>cue</string>
					<string>bin</string>
					<string>a78</string>
					<string>a26</string>
					<string>a52</string>
					<string>sms</string>
					<string>smc</string>
					<string>sfc</string>
					<string>fig</string>
					<string>sfc</string>
					<string>gb</string>
					<string>gbc</string>
					<string>sgb</string>
					<string>gba</string>
					<string>nes</string>
					<string>fds</string>
					<string>lnx</string>
					<string>ngp</string>
					<string>ngc</string>
					<string>ngpc</string>
					<string>npc</string>
					<string>pce</string>
					<string>ws</string>
					<string>wsc</string>
					<string>vb</string>
					<string>n64</string>
					<string>z64</string>
					<string>gen</string>
					<string>md</string>
					<string>gg</string>
					<string>smd</string>
					<string>32x</string>
					<string>32X</string>
					<string>min</string>
					<string>7z</string>
					<string>cdi</string>
					<string>gdi</string>
					<string>bios</string>
					<string>msx</string>
					<string>col</string>
					<string>rar</string>
					<string>z80</string>
					<string>tzx</string>
					<string>chd</string>
					<string>rvz</string>
				</array>
				<key>public.mime-type</key>
				<array>
					<string>com.provenance.rom</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTITagTypeSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>jpg</string>
					<string>png</string>
				</array>
			</dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.image</string>
				<string>public.png</string>
				<string>public.jpeg</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Artwork</string>
			<key>UTTypeIconFiles</key>
			<array/>
			<key>UTTypeIdentifier</key>
			<string>com.provenance.artwork</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>jpg</string>
					<string>png</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTITagTypeSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>svs</string>
				</array>
			</dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.data</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Save State</string>
			<key>UTTypeIconFiles</key>
			<array/>
			<key>UTTypeIdentifier</key>
			<string>com.provenance.savestate</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>svs</string>
				</array>
				<key>public.mime-type</key>
				<array>
					<string>com.provenance.savestate</string>
				</array>
			</dict>
		</dict>
	</array>
	<key>appcenter</key>
	<string>862ca352-4607-4f8e-8c77-1248fa68ca3a</string>
</dict>
</plist>
