<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>PVCoreIdentifier</key>
	<string>com.provenance.core.stella</string>
	<key>PVPrincipleClass</key>
	<string>PVStella.PVStellaGameCore</string>
	<key>PVSupportedSystems</key>
	<array>
		<string>com.provenance.2600</string>
	</array>
	<key>PVProjectName</key>
	<string>Stella</string>
	<key>PVProjectURL</key>
	<string>https://stella-emu.github.io</string>
	<key>PVProjectVersion</key>
	<string>3.4.1</string>
	<key>PVLicenseName</key>
	<string>GPL-2.0-or-later</string>
	<key>PVLicenseURL</key>
	<string>https://github.com/stella-emu/stella/blob/master/License.txt</string>
	<key>PVCopyright</key>
	<string>Copyright © 1995-2024 Bradford W. Mott, Stephen Anthony, The Stella Team</string>
</dict>
</plist>
