<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>PVCoreIdentifier</key>
	<string>com.provenance.core.reicast</string>
	<key>PVPrincipleClass</key>
	<string>PVReicastCore</string>
	<key>PVSupportedSystems</key>
	<array>
		<string>com.provenance.dreamcast</string>
	</array>
	<key>PVProjectName</key>
	<string>Reicast</string>
	<key>PVProjectURL</key>
	<string>https://github.com/reicast/reicast-emulator</string>
	<key>PVProjectVersion</key>
	<string>18.04</string>
</dict>
</plist>
