config.log
config.mak
src/**/*/.deps
src/**/*.so
src/**/*.dylib
src/**/*.dll
src/**/*.o
src/**/*.obj
src/**/*.tlog
out
out.pgo
out.pgen
stella
￼stella-pgo
￼stella-pgo-generate
*.diff
project.xcworkspace/
xcuserdata/
.DS_Store
build/
src/os/macos/M6502.ins
*.dSYM
.vscode/c_cpp_properties.json
.vscode/settings.json
src/os/windows/sdl/*
src/os/windows/x64/*
src/os/windows/Win32/*
src/os/windows/Stella.vcxproj.user
src/os/windows/*.bak
src/os/libretro/x64/*
src/os/libretro/Stella.vcxproj.user
.vs/*
.tgitconfig
src/**/*.psess
src/**/*.vspx
src/**/**.pdb
Stella.xcscheme
src/tools/fonts/*
*.sym
a.out
*.json
*.sqlite3
*.bak
