//
//  BuildFlags.xcconfig
//  PVPlay
//
//  Created by Joseph Mattiello on 11/1/18.
//
//

// All
GCC_PREPROCESSOR_DEFINITIONS = $(inherited) _IOP_EMULATE_MODULES=1 DISABLE_LOGGING=1 HAS_AMAZON_S3=0  GLES_COMPATIBILITY=1 TARGET_NO_NIXPROF=1 CMAKE_INTDIR="$(CONFIGURATION)$(EFFECTIVE_PLATFORM_NAME)" PLAY_VERSION="1.3-2331-g0b8742f68" HAS_GSH_VULKAN=1
// HAS_AMAZON_S3=1
//GCC_PREPROCESSOR_DEFINITIONS[configuration=Release] = $(inherited) NDEBUG
//GCC_PREPROCESSOR_DEFINITIONS[configuration=Archive] = $(inherited) NDEBUG

OTHER_CFLAGS = $(inherited) -march=armv8-a+crc -frtti -mno-thumb -mfpu=neon -fno-operator-names -ffast-math -ftree-vectorize -fno-strict-aliasing -frename-registers -fpermissive -fno-operator-names -fobjc-arc -fsingle-precision-constant -fmodules -fcxx-modules -fomit-frame-pointer -fvisibility-inlines-hidden -fvisibility=hidden -flto -funsafe-math-optimizations
//  -x objective-c++
//

VALIDATE_WORKSPACE_SKIPPED_SDK_FRAMEWORKS = OpenGLES
GCC_ENABLE_CPP_EXCEPTIONS = YES

//GCC_PREPROCESSOR_DEFINITIONS[configuation=Debug] = $(inherited) -DTARGET_NO_NIXPROF
//  -fno-rtti

    // Device
//GCC_PREPROCESSOR_DEFINITIONS[sdk=iphoneos*] = $(inherited) TARGET_IPHONE=1
//OTHER_CFLAGS[sdk=iphoneos*] = $(inherited)
//
//// Simulator
//GCC_PREPROCESSOR_DEFINITIONS[sdk=iphonesimulator*] = $(inherited) TARGET_IPHONE_SIMULATOR=1
//
//// tvOS Device
//GCC_PREPROCESSOR_DEFINITIONS[sdk=appletvos*] = $(inherited) TARGET_IPHONE=1
//OTHER_CFLAGS[sdk=appletvos*] = $(inherited)
//
//// tvOS Simulator
//GCC_PREPROCESSOR_DEFINITIONS[sdk=appletvsimulator*] = $(inherited) TARGET_IPHONE_SIMULATOR=1
EXCLUDED_SOURCE_FILE_NAMES[sdk=iphonesimulator*][arch=*] = *
INCLUDED_SOURCE_FILE_NAMES[sdk=iphonesimulator*][arch=*] = PVDebug.c
OTHER_CFLAGS[sdk=iphonesimulator*][arch=*] = ""
EXCLUDED_SOURCE_FILE_NAMES[sdk=appletvsimulator*][arch=*] = *
INCLUDED_SOURCE_FILE_NAMES[sdk=appletvsimulator*][arch=*] = PVDebug.c
OTHER_CFLAGS[sdk=appletvsimulator*][arch=*] = ""
PROJECT_TEMP_DIR = $(SRCROOT)/lib/play/build/$(PROJECT_NAME).build
DERIVED_FILE_DIR = $(SRCROOT)/lib/play/build/derived/$(PROJECT_NAME).build
CACHE_ROOT = $(SRCROOT)/lib/cache
