<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>PVCoreIdentifier</key>
	<string>com.provenance.core.snes9x</string>
	<key>PVPrincipleClass</key>
	<string>PVSNES.PVSNES9xEmulatorCore</string>
	<key>PVSupportedSystems</key>
	<array>
		<string>com.provenance.snes</string>
	</array>
	<key>PVProjectName</key>
	<string>Snes9x</string>
	<key>PVProjectURL</key>
	<string>http://www.snes9x.com</string>
	<key>PVProjectVersion</key>
	<string>1.60</string>
	<key>PVLicenseName</key>
	<string>LicenseRef-Snes9x</string>
	<key>PVLicenseURL</key>
	<string>https://github.com/snes9xgit/snes9x/blob/HEAD/LICENSE</string>
	<key>PVCopyright</key>
	<string>Copyright © 1996-2024 Snes9x Contributors</string>
</dict>
</plist>
