<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>PVCoreIdentifier</key>
	<string>com.provenance.core.gearcoleco</string>
	<key>PVPrincipleClass</key>
	<string>PVGearcolecoCore</string>
	<key>PVSupportedSystems</key>
	<array>
		<string>com.provenance.colecovision</string>
	</array>
	<key>PVProjectName</key>
	<string>Gearcoleco</string>
	<key>PVProjectURL</key>
	<string>https://github.com/drhelius/Gearcoleco</string>
	<key>PVProjectVersion</key>
	<string>1.0.0</string>
</dict>
</plist>
