<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>PVCoreIdentifier</key>
	<string>com.provenance.core.pokemini</string>
	<key>PVPrincipleClass</key>
	<string>PVPokeMiniEmulatorCore</string>
	<key>PVSupportedSystems</key>
	<array>
		<string>com.provenance.pokemonmini</string>
	</array>
	<key>PVProjectName</key>
	<string>PokeMini</string>
	<key>PVProjectURL</key>
	<string>http://sourceforge.net/projects/pokemini/</string>
	<key>PVProjectVersion</key>
	<string>0.6</string>
</dict>
</plist>
