//
//  BuildFlags.xcconfig
//  PVBeetlePSX
//
//  Created by Joseph Mattiello on 11/1/18.
//
//

// All
GCC_PREPROCESSOR_DEFINITIONS[sdk=iphoneos*] = $(inherited) ENABLE_DISASSEMBLER=0
GCC_PREPROCESSOR_DEFINITIONS[sdk=iphoneos*] = $(inherited) ENABLE_THREADED_COMPILER=1
GCC_PREPROCESSOR_DEFINITIONS[sdk=iphoneos*] = $(inherited) FRONTEND_SUPPORTS_RGB565=1
GCC_PREPROCESSOR_DEFINITIONS[sdk=iphoneos*] = $(inherited) HAS_DEFAULT_ELM=0
GCC_PREPROCESSOR_DEFINITIONS[sdk=iphoneos*] = $(inherited) HAVE_CHD=1
GCC_PREPROCESSOR_DEFINITIONS[sdk=iphoneos*] = $(inherited) HAVE_GRIFFIN=0
GCC_PREPROCESSOR_DEFINITIONS[sdk=iphoneos*] = $(inherited) HAVE_HW=1
GCC_PREPROCESSOR_DEFINITIONS[sdk=iphoneos*] = $(inherited) HAVE_LIBRETRO=1
GCC_PREPROCESSOR_DEFINITIONS[sdk=iphoneos*] = $(inherited) HAVE_VULKAN=1
//GCC_PREPROCESSOR_DEFINITIONS[sdk=iphoneos*] = $(inherited) HAVE_OPENGL=1
GCC_PREPROCESSOR_DEFINITIONS[sdk=iphoneos*] = $(inherited) HAVE_OPENGLES3=1
GCC_PREPROCESSOR_DEFINITIONS[sdk=iphoneos*] = $(inherited) HAVE_OPENGLES2=1
GCC_PREPROCESSOR_DEFINITIONS[sdk=iphoneos*] = $(inherited) HAVE_OPENGLES=1
GCC_PREPROCESSOR_DEFINITIONS[sdk=iphoneos*] = $(inherited) HAVE_PBP=1
GCC_PREPROCESSOR_DEFINITIONS[sdk=iphoneos*] = $(inherited) HAVE_THREADS=1
GCC_PREPROCESSOR_DEFINITIONS[sdk=iphoneos*] = $(inherited) HAVE_UNISTD_H=1
//GCC_PREPROCESSOR_DEFINITIONS[sdk=iphoneos*] = $(inherited) PSX_DBGPRINT_ENABLE=1
//GCC_PREPROCESSOR_DEFINITIONS[sdk=iphoneos*] = $(inherited) HAVE_LIGHTREC=0
//GCC_PREPROCESSOR_DEFINITIONS[sdk=iphoneos*] = $(inherited) LIGHTREC_LOG_LEVEL=3
//GCC_PREPROCESSOR_DEFINITIONS[sdk=iphoneos*] = $(inherited) LIGHTREC_STATIC=1
GCC_PREPROCESSOR_DEFINITIONS[sdk=iphoneos*] = $(inherited) LINK_STATIC_LIBCPLUSPLUS=1
GCC_PREPROCESSOR_DEFINITIONS[sdk=iphoneos*] = $(inherited) MEDNAFEN_VERSION=0.9.38.6
GCC_PREPROCESSOR_DEFINITIONS[sdk=iphoneos*] = $(inherited) MEDNAFEN_VERSION_NUMERIC=9386
GCC_PREPROCESSOR_DEFINITIONS[sdk=iphoneos*] = $(inherited) MPC_FIXED_POINT
GCC_PREPROCESSOR_DEFINITIONS[sdk=iphoneos*] = $(inherited) NEED_BPP=32
GCC_PREPROCESSOR_DEFINITIONS[sdk=iphoneos*] = $(inherited) NEED_CD=1
GCC_PREPROCESSOR_DEFINITIONS[sdk=iphoneos*] = $(inherited) NEED_DEINTERLACER=1
GCC_PREPROCESSOR_DEFINITIONS[sdk=iphoneos*] = $(inherited) NEED_THREADING=1
GCC_PREPROCESSOR_DEFINITIONS[sdk=iphoneos*] = $(inherited) NEED_TREMOR=1
GCC_PREPROCESSOR_DEFINITIONS[sdk=iphoneos*] = $(inherited) PACKAGE=mednafen
GCC_PREPROCESSOR_DEFINITIONS[sdk=iphoneos*] = $(inherited) PSS_STYLE=1
GCC_PREPROCESSOR_DEFINITIONS[sdk=iphoneos*] = $(inherited) SET_HAVE_HW=1
GCC_PREPROCESSOR_DEFINITIONS[sdk=iphoneos*] = $(inherited) SIZEOF_DOUBLE=8
GCC_PREPROCESSOR_DEFINITIONS[sdk=iphoneos*] = $(inherited) STDC_HEADERS
GCC_PREPROCESSOR_DEFINITIONS[sdk=iphoneos*] = $(inherited) THREADED_RECOMPILER=1
GCC_PREPROCESSOR_DEFINITIONS[sdk=iphoneos*] = $(inherited) WANT_32BPP=1
GCC_PREPROCESSOR_DEFINITIONS[sdk=iphoneos*] = $(inherited) WANT_PSX_EMU=1
GCC_PREPROCESSOR_DEFINITIONS[sdk=iphoneos*] = $(inherited) WANT_THREADING=1
GCC_PREPROCESSOR_DEFINITIONS[sdk=iphoneos*] = $(inherited) _7ZIP_ST=1
GCC_PREPROCESSOR_DEFINITIONS[sdk=iphoneos*] = $(inherited) _FILE_OFFSET_BITS=64
GCC_PREPROCESSOR_DEFINITIONS[sdk=iphoneos*] = $(inherited) _LOW_ACCURACY_
GCC_PREPROCESSOR_DEFINITIONS[sdk=iphoneos*] = $(inherited) __LIBRETRO__=1
GCC_PREPROCESSOR_DEFINITIONS[sdk=iphoneos*] = $(inherited) __STDC_CONSTANT_MACROS
GCC_PREPROCESSOR_DEFINITIONS[sdk=iphoneos*] = $(inherited) __STDC_LIMIT_MACROS
GL_APIENTRYP=GLAPIENTRY*
// HAVE_OPENGLES=1
// HAVE_VULKAN=0 HAVE_JIT=0 WANT_16BPP=0 WANT_8BPP=1 LIGHTREC_DEBUG=0 HAVE_OPENGL=0  HAVE_SHM=1 USE_FIXED
// HAVE_CDROM=1
//OTHER_CFLAGS = $(inherited) -ObjC -ffast-math -ftree-vectorize -fno-strict-aliasing -fpermissive -fomit-frame-pointer -fmodules -fcxx-modules
OTHER_CFLAGS = $(inherited) -fmodules -fcxx-modules -Wno-module-import-in-extern-c

 OTHER_LDFLAGS =  $(inherited) -ObjC -Wl,-all_load -all_load

// EXCLUDED_SOURCE_FILE_NAMES[sdk=macosx*] = $(inherited)

    // Device
GCC_PREPROCESSOR_DEFINITIONS[sdk=iphoneos*] = $(inherited) TARGET_IPHONE=1 NEON=1 IOS=1 HAVE_OPENGLES3=1

// TODO: Why does this result in some missing symbols?
// HAVE_OPENGLES_3_1=1

OTHER_CFLAGS[sdk=iphoneos*] = $(inherited) -D__VEC4_OPT -D__NEON_OPT
EXCLUDED_SOURCE_FILE_NAMES[sdk=iphoneos*] = $(inherited)

// Simulator
GCC_PREPROCESSOR_DEFINITIONS[sdk=iphonesimulator*] = TARGET_IPHONE_SIMULATOR=1 IOS=1 HAVE_OPENGLES3=1
// HAVE_OPENGLES_3_1=1  $(inherited)

// tvOS Device
//GCC_PREPROCESSOR_DEFINITIONS[sdk=appletvos*] = $(inherited) TARGET_IPHONE=1 IOS=1 HAVE_OPENGLES3=1
OTHER_CFLAGS[sdk=appletvos*] = $(inherited) -D__VEC4_OPT -D__NEON_OPT
// HAVE_OPENGLES_3_1=1

// tvOS Simulator
GCC_PREPROCESSOR_DEFINITIONS[sdk=appletvsimulator*] = $(inherited) TARGET_IPHONE_SIMULATOR=1 IOS=1 HAVE_OPENGLES3=1
// HAVE_OPENGLES_3_1=1
