//
//  BuildFlags.xcconfig
//  PVBeetlePSX
//
//  Created by Joseph Mattiello on 11/1/18.
//
//

// All
GCC_PREPROCESSOR_DEFINITIONS[sdk=iphoneos*] = $(inherited) __LIBRETRO__=1 HAVE_PBP=1 HAVE_CHD=1 _7ZIP_ST=1 WANT_THREADING=1 HAVE_THREADS=1 ENABLE_THREADED_COMPILER=1 HAVE_OPENGLES2=1 SIZEOF_DOUBLE=8 PACKAGE=mednafen MEDNAFEN_VERSION_NUMERIC=9386 PSS_STYLE=1 MPC_FIXED_POINT STDC_HEADERS __STDC_LIMIT_MACROS _LOW_ACCURACY_ _FILE_OFFSET_BITS=64 __STDC_CONSTANT_MACROS FRONTEND_SUPPORTS_RGB565=1 HAVE_CHD=1 LINK_STATIC_LIBCPLUSPLUS=1 THREADED_RECOMPILER=1 LIGHTREC_LOG_LEVEL=3 NEED_THREADING=1 HAVE_LIBRETRO=1 WANT_32BPP=1 NEED_CD=1 LIGHTREC_STATIC=1 NEED_TREMOR=1 NEED_BPP=32 NEED_DEINTERLACER=1 HAVE_HW=1 SET_HAVE_HW=1 WANT_PSX_EMU=1 HAVE_UNISTD_H=1 MEDNAFEN_VERSION=0.9.38.6 HAS_DEFAULT_ELM=0 ENABLE_DISASSEMBLER=0 HAVE_GRIFFIN=0 HAVE_OPENGLES=1
GL_APIENTRYP=GLAPIENTRY*
// HAVE_OPENGLES=1
// HAVE_VULKAN=0 HAVE_JIT=0 WANT_16BPP=0 WANT_8BPP=1 LIGHTREC_DEBUG=0 HAVE_OPENGL=0  HAVE_SHM=1 USE_FIXED
// HAVE_CDROM=1
// OTHER_CFLAGS = $(inherited) -ObjC -ffast-math -ftree-vectorize -fno-strict-aliasing -fpermissive -fomit-frame-pointer
// OTHER_LDFLAGS =  $(inherited) -ObjC -Wl,-all_load -all_load

// EXCLUDED_SOURCE_FILE_NAMES[sdk=macosx*] = $(inherited)

    // Device
GCC_PREPROCESSOR_DEFINITIONS[sdk=iphoneos*] = $(inherited) TARGET_IPHONE=1 NEON=1 IOS=1 HAVE_OPENGLES3=1

// TODO: Why does this result in some missing symbols?
// HAVE_OPENGLES_3_1=1

OTHER_CFLAGS[sdk=iphoneos*] = $(inherited) -mfpu=neon -D__VEC4_OPT -D__NEON_OPT 
EXCLUDED_SOURCE_FILE_NAMES[sdk=iphoneos*] = $(inherited)

// Simulator
GCC_PREPROCESSOR_DEFINITIONS[sdk=iphonesimulator*] = TARGET_IPHONE_SIMULATOR=1 IOS=1 HAVE_OPENGLES3=1
// HAVE_OPENGLES_3_1=1  $(inherited)

// tvOS Device
//GCC_PREPROCESSOR_DEFINITIONS[sdk=appletvos*] = $(inherited) TARGET_IPHONE=1 IOS=1 HAVE_OPENGLES3=1
// HAVE_OPENGLES_3_1=1

// tvOS Simulator
GCC_PREPROCESSOR_DEFINITIONS[sdk=appletvsimulator*] = $(inherited) TARGET_IPHONE_SIMULATOR=1 IOS=1 HAVE_OPENGLES3=1
// HAVE_OPENGLES_3_1=1
