<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>PVCoreIdentifier</key>
	<string>com.provenance.Opera</string>
	<key>PVPrincipleClass</key>
	<string>PVOpera</string>
	<key>PVSupportedSystems</key>
	<array>
		<string>com.provenance.3do</string>
	</array>
	<key>PVProjectName</key>
	<string>PVOpera</string>
	<key>PVProjectURL</key>
	<string>https://github.com/libretro/opera-libretro</string>
	<key>PVProjectVersion</key>
	<string>0</string>
</dict>
</plist>
