backup/
Debug*/
Release*/
build*/
Roms/
*.ncb
*.suo
*.sdf
*.user
projects/msvc2015/*db
projects/msvc2015/GeneratedFiles
projects/msvc2015/libGLideNHQ.dir
projects/msvc12/*db
projects/msvc12/GeneratedFiles
projects/msvc12/libGLideNHQ.dir
