# OS X
.DS_Store

# Xcode
build/
*.pbxuser
*.perspectivev3
*.mode1v3
*.mode2v3
*.xcuserdatad

# iPad Viewer Specific
iPad\ Viewer.xcodeproj/project.xcworkspace/xcuserdata/*
iPad\ Viewer.xcodeproj/xcuserdata/*
