<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>PVCoreIdentifier</key>
	<string>com.provenane.core.mednafen</string>
	<key>PVPrincipleClass</key>
	<string>MednafenGameCore</string>
	<key>PVProjectName</key>
	<string>Mednafen</string>
	<key>PVSupportedSystems</key>
	<array>
		<string>com.provenance.psx</string>
		<string>com.provenance.lynx</string>
		<string>com.provenance.ngp</string>
		<string>com.provenance.ngpc</string>
		<string>com.provenance.pce</string>
		<string>com.provenance.pcecd</string>
		<string>com.provenance.pcfx</string>
		<string>com.provenance.sgfx</string>
		<string>com.provenance.vb</string>
		<string>com.provenance.ws</string>
		<string>com.provenance.wsc</string>
		<string>com.provenance.nes</string>
		<string>com.provenance.snes</string>
		<string>com.provenance.gb</string>
		<string>com.provenance.gbc</string>
		<string>com.provenance.gba</string>
	</array>
	<key>PVProjectURL</key>
	<string>https://mednafen.github.io</string>
	<key>PVProjectVersion</key>
	<string>1.21.1</string>
</dict>
</plist>
