<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>--company-id</key>
	<string>ch.pitaya</string>
	<key>--create-docset</key>
	<false/>
	<key>--ignore</key>
	<array>
		<string>*.m</string>
	</array>
	<key>--index-desc</key>
	<string>README.md</string>
	<key>--explicit-crossref</key>
	<true/>
	<key>--print-settings</key>
	<true/>
	<key>--project-company</key>
	<string>Cédric Luthi</string>
	<key>--project-name</key>
	<string>XCDLumberjackNSLogger</string>
	<key>--repeat-first-par</key>
	<false/>
</dict>
</plist>
