
body {
    background-color: #fafafa;
    color: #333;
}

#frameWrapper {
    width: 1000px;
    margin: 0 auto;
    background-color: #fff;

    border-left: 1px solid #f0f0f0;
    border-right: 1px solid #f0f0f0;
    border-bottom: 1px solid #f0f0f0;
    min-height: 800px;
}

